{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">

			<br/>
			<br/>
			<h1 class="heading-xlarge">Get your State Pension</h1>

			<p>
				Some content will go here to inform users that they will need to verify
			</br> who they are to be able to use the service.
		</p>

					<legend>
						<h1 class="heading-medium">You need to confirm your identity </br>
							You can do this in two different ways:</h1>
					</legend>

					<div>
						<form action="identity-confirmation" method="post">
							<div class="form-group">
								<fieldset>
					</br>

					<div>
						<div class="multiple-choice">
							<input id="invite-code" type="radio" name="radio-group" value="invitation code">
							<label for="invite-code" class="heading-small">Use a unique invitation code</label>
							<p><li>if you have received a letter inviting you to get your State Pension</li>
								<li>blah blah blah</li></p>
								<p class="heading-small">Or</p>
							</div>



							<div class="multiple-choice">
								<input id="verify" type="radio" name="radio-group" value="verify">
								<label for="verify" class="heading-small">Sign in using GOV.UK Verify</label>
								<p><li>if you have not received a letter inviting you to get your State Pension</li>
									<li>to sign up, you will need to answer identity questions online	</li></p>
								</div>
							</div>

						</fieldset>
					</div>

					<input type="submit" class="button" value="Start now">
				</form>
			</div>





		</div>

		<div class="column-one-third">
			{% include 'includes/parts/help.html' %}
		</div>
	</div>
</main>
{% endblock %}

{% block pageScripts %}
{% include 'includes/scripts/ninoFocus.html' %}
{% include 'includes/scripts/dobFocus.html' %}
{% include 'sprint9/scripts/clear_fields.html' %}
{% endblock %}
