{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<div class="confirmation-message">
						<span style="font-size: 42px; font-weight: bold;">Application complete</span><br/>
						<span style="font-size: 22px;">{{completeDate}}</span><br/>
						<span style="font-size: 22px;">Your reference number is</span><br/>
						<span style="font-size: 28px; font-weight: bold;">HDJ2123F</span>
					</div>

					<h3 class="heading-medium">What happens next</h3>
					<p>If more information's needed someone will contact you in the next 5 days.</p>
					<p>Otherwise you'll get a letter in the next 10 days confirming when your pension will start and how much you'll get.</p>

					<h3 class="heading-medium">If your circumstances change</h3>
					<p>You must tell the Department for Work and Pensions of changes to your circumstances e.g. your address, spouse or partner, or bank account details.</p>
					<p><span class="heading-small">Telephone:</span> 0845 60 60 265</p>
					<div>
						<p>If you don’t report changes in reasonable time you could be paid too much pension by mistake. You’ll have to repay this money.</p>
						<div style="float: left;">
							<img src="/public/images/icon-important.png" class="warning-image">
						</div>
						<p>If you refuse to repay when asked then a court can allow money to be taken directly from your pension. This may mean you get less pension or your pension is stopped until the money’s repaid.</p>
					</div>

					<br/>

					<p><img src="/public/images/icon-file-download.png" style="position: relative; float: left; margin-top: -5px;">&nbsp; <a href="download" target="_new" class="heading-medium">Save this page</a></p>
					<p><img src="/public/images/icon-print.png" width="30" style="float: left; margin-top: -5px;">&nbsp; <a href="#" onclick="window.print();" class="heading-medium">Print this page</a></p>

					<a href="#" value="Submit">What did you think of this service?</a><br/>
				</div>
			</div>
		</main><!-- / #page-container -->
		{% endblock %}

