{% extends 'layout.html' %}

  {% block pageTitle %}
  	State Pension Activation
  {% endblock %}

  {% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        {% include 'includes/parts/phase-banner' %}

          <h1 class="heading-xlarge">Have you ever lived outside of the UK?</h1>

          <form action="have-you-lived-abroad" method="post">
            <fieldset class="inline">
              <div class="form-group">
                <legend class="visuallyhidden">Have you ever lived outside of the UK?</legend>

                <label class="block-label" for="lived-outside-yes">
                  <input id="lived-outside-yes" type="radio" name="lived-outside-select" value="Yes">
                  Yes
                </label>
                <label class="block-label" for="lived-outside-no">
                  <input id="lived-outside-no" type="radio" name="lived-outside-select" value="No">
                  No
                </label>
              </div>
            </fieldset>

            <input type="submit" class="button" value="Continue">
          </form>
        </div>
      </div>
    </main>
  {% endblock %}
{{/layout}}
