{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}

		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					{{#errors}}
						<div class="error-summary error-message no-margin-top" data-banktype="{{errors.bank_type}}">
							<h2 class="heading-medium error-summary-heading">{{errors.title}}</h2>
							<p>{{errors.text}}</p>
						</div>
					{{/errors}}

					<h1 class="heading-xlarge">When do you want to get your State Pension?</h1>

          <form action="when-do-you-want-paid" method="post">
            <fieldset>
              <div class="form-group">
                <label class="block-label" for="select-asap">
                  <input id="select-asap" type="radio" name="when-paid-select" value="asap">
                  My State Pension age
                </label>

                <label class="block-label" data-target="set-date-hidden" for="select-set">
                  <input id="select-set" type="radio" name="when-paid-select" value="set">
                  A date after my State Pension age
                </label>

                <div class="panel panel-indent js-hidden" id="set-date-hidden">
									<p class="text form-hint">You'll need to put off claiming for at least 9 weeks to increase your State Pension.</p>

									<h2 class="heading-small">What date do you want to get your State Pension?</h2>
                  <fieldset>
										<span id="error-message" class="error-message" style="display: none;">
					            The date you have entered is more than four months from now.<br />To claim on this date please come back on <span></span>.
					          </span>

                    <div class="form-date">
                      <div class="form-group form-group-day">
                        <label for="set-day">Day</label>
                        <input class="form-control" id="set-day" name="set-day" type="number" pattern="[0-9]*" min="0" max="31">
                      </div>

                      <div class="form-group form-group-month">
                        <label for="set-month">Month</label>
                        <input class="form-control" id="set-month" name="set-month" type="number" pattern="[0-9]*" min="0" max="12">
                      </div>

                      <div class="form-group form-group-year">
                        <label for="set-year">Year</label>
                        <input class="form-control" id="set-year" name="set-year" type="number" pattern="[0-9]*" min="0" max="2016">
                      </div>
                    </div>
                  </fieldset>
								</div>
              </div>
            </fieldset>


            <input type="submit" class="button" value="Continue" />
          </form>
        </div>
    	</div>
		</main>
	{{/content}}

	{{$pageScripts}}
		{{>sprint7/scripts/when-do-you-want-paid}}
	{{/pageScripts}}
{{/layout}}
