<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>

<!-- Scripts for deprecated radio buttons, needed for old prototypes -->
<script src="/public/javascripts/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>

<!-- Scripts for new radio buttons -->
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
