<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 July 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Requesting documents</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of birth assertion</h2>
<p>
  Week 6 of research in Newcastle Library.
</p>

<h3 class="heading-small">Changes made version one</h3>

<p>
TBC
</p>

<h3 class="heading-small">Changes made version two</h3>

<p>
TBC
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  TBC
</p>

<p>
<h3 class="heading-small">Verson one (small changes)</h3>
  <a href="/sprint9v4/start" class="button button-start">Start now</a>
</p>

<p>
<h3 class="heading-small">Version two (radical)</h3>
  <a href="/sprint9v5/start" class="button button-start">Start now</a>
</p>
