<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>22 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Requesting documents</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of birth assertion</h2>
<p>
  Week 2 of research in Leeds Library.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Two prototypes taken for research in this session. Both have the same content
  but in different points in the journey. Only primary documents requested from
  user to shorten the content.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Shorter information on Document page with less option appeared
  to work more effectively for journey completion. Those that complete understand
  the claim can’t be processed until docs are sent. No issue providing DOB in service.
  No consensus on what will be sent alongside the documents (NINO).
</p>

<p>
  The DOB-FAIL screen requesting documents immediately after the date of birth screen.
</p>
<p> <a href="/sprint9v3/start" class="button button-start">Start now</a> </p>


<p>
  The DOB-FAIL screen requesting documents at the end of the service before the
  declaration page.
</p>
<p> <a href="/sprint9v3/start" class="button button-start">Start now</a> </p>
