<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>6 July 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Requesting documents</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of birth assertion</h2>
<p>
  Week 4 of research in Darlington Library.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Location in service returned to the same as week two in Leeds Library.
  Content changed regarding National Insurance number to see whether or not
  users understand they need to include this when sending documents.
  Removed the print and save option to reduce page length.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  TBC
</p>

<br />

<a href="/sprint9v3/start" class="button button-start">Start now</a>
