<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>28 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Requesting documents</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of birth assertion</h2>
<p>
  Week 3 of research in Washington Library.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Request for documents removed completely from the service and only present
  on the end page.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Participants don’t want to post their Birth Certificate and associate
  producing documentation as ID, not DOB verification. Users do not see document
  request on the end page and think they have completed their claim.
  Participants widely interpret ‘as soon as possible’ for document return.
</p>

<br />

<a href="/sprint9v2/start" class="button button-start">Start now</a>
