<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>15 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Requesting documents</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of birth assertion</h2>
<p>
  Week 1 of research in North Sheilds library.
</p>

<h3 class="heading-small">First iteration</h3>

<p>
  Users asked to send documents at the beginning of the service immediately if
  they have not provided a date that matches our records.
  They can carry on in the service however their claim is not complete until
  they have sent documents to prove their date of birth.
  They were given a list of documents in this iteration, one from one list or two
  from another.
</p>

<br/>

<a href="/sprint9/start" class="button button-start">Start now</a>
