<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>October 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Date of payment</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of payment</h2>
<p>
  Week 1 of research in .
</p>

<h3 class="heading-small">First iteration</h3>

<p>
  What the prototype is
</p>

<h3 class="heading-small">Research objectives</h3>

<p>
  What the research showed
</p>

<br/>

<a href="/sprint11/start" class="button button-start">Start now</a>
