<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>October 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Date of payment</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of payment</h2>
<p>
  Week 1 of research in Leeds.
</p>

<h3 class="heading-small">First iteration</h3>

<p>
  What the prototype is
</p>

<h3 class="heading-small">Research notes</h3>

<p>
  Most of the users would have failed the Verify journey due to a lack of
  confidence online and uncertainty with the role of private companies in the
  journey. Participants were confused as to what information the companies held
  on them and what they were providing as well as why this process could not be
  conducted by the government. There was additional concern about this journey
  in the context of the invitation letter question and several users mentioned
  they might call up to request an invitation. Other issues included the need
  for clarification of certain points, such as around length of stay in hospital
  and marital status, while if they were entering an email they would expect a
  confirmation that the process was completed which would offer extra reassurance
  that everything had been done correctly and their claim had been received.
</p>

<br/>

<a href="/sprint11/start" class="button button-start">Start now</a>
