<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>MVP</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">International MVP</h2>
<p>
  MVP for international group, beginning with Australian users.
  Small changes will need to be made to landing screen, entry to service, invitation code, lived/worked, time lived/worked,
  contact details, bank account details, declaration, completion screens and document request.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
TBC
</p>

<a href="/internationalMVP/start" class="button button-start">Start now</a>
