<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>April 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>MVP</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">International MVP</h2>
<p>
  MVP for international group, beginning with Australian users.
  Small changes will need to be made to landing screen, entry to service, invitation code, lived/worked, time lived/worked,
  contact details, bank account details, declaration, completion screens and document request.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
This first prototype for international claimants, closely based on the UK journey,
tested fairly well with overseas users. The research highlighted a few small issuers
and one large one. The biggest issue was the living/working abroad pages. These have
never worked well for UK users and with international users, who were unable to enter
multiple occasions in the same country, they completely failed. Smaller issues
around specificity of content and messages about post boxes and changes of circumstances
were also picked up. The biggest change from the UK prototype, the bank details page,
tested well, with users happy to see they were not limited to a specific account number
length or bank code format.
</p>

<a href="/internationalmvp/start" class="button button-start">Start now</a>
