<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>May 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>International MVP non-verified</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">International Non Verified DOB</h2>
<p>
The international journey with the document request feature for non-verified users who
do not self assert their date of birth correctly when asked in service.
Small changes have been made from the GB document request, such as certified copies
being accepted as well as options other than birth certificates. SMEs advised us
that less international users have their original birth certificates.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
TBC
</p>

<a href="/internationalnv/start" class="button button-start">Start now</a>
