<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Living/working abroad</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">International living/working abroad</h2>
<p>
Changes have been made to the living/working abroad journey. This journey brings
living/working together and allows the user to enter more than one time period
to each country. There is also a screen to ask the user if there is any country
where they have worked but not lived.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
X
</p>

<a href="/internationalmvp-v2/start" class="button button-start">Start now</a>
