<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>August 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Living/working abroad</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">International living/working abroad</h2>
<p>
  Iteration three </br>
  Changes in progress.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
X
</p>

<a href="/internationalmvp-v3/start" class="button button-start">Start now</a>
