<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>10 September 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Verify</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small"></dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Verify</h2>
<p>
  Week 1 of research.
</p>

<h3 class="heading-small">First iteration - Version 1</h3>

<p>
content
</p>

<h3 class="heading-small">First iteration - Version 2</h3>
<p>
content
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  TBC
</p>

<p>
  <h3 class="heading-small">Version one</h3>
  <a href="/sprint10/start" class="button button-start">Start now</a>
</p>

<p>
  <h3 class="heading-small">Version two</h3>
  <a href="/sprint10v2/start" class="button button-start">Start now</a>
</p>
