{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}

		<!-- #page-container -->
		<main id="content" role="main">
			{% include 'includes/parts/phase-banner.html' %}

				<div class="grid-row">
					<div class="column-two-thirds">

						<h1 class="heading-xlarge">
							GOV.UK Verify
						</h1>

				    <p>
							You can sign in with GOV.UK Verify
							to get your State Pension if: <br>

							<ul class="list-bullet">
								<li>you have already reached State Pension age</li>
								<li>you will reach State Pension age in the next 4 months</li>
							</ul>
							<br>
							If you have not used GOV.UK Verify before, it will take you<br>
							about 5 minutes to get set up.
						</p>

						<div class="verify-block">
							<img class="verify-logo" src="/public/images/verifylogo.png" width="100" alt="verifylogo.png" />
							<strong class="heading-medium">GOV.UK</strong><br />
							VERIFY
						</div>

					</br>

						<div class="form-group">
							<a href="outdec" class="button button-get-started" role="button">Continue</a> <br>
						</div>
			  	</div>

				</div>
		</main>
	{% endblock %}

	{% block pageScripts %}
		{% include 'includes/scripts/ninoFocus.html' %}
		{% include 'includes/scripts/dobFocus.html' %}
		{% include 'sprint9/scripts/clear_fields.html' %}
	{% endblock %}
