{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}

	<form method="post" action="secure">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">The service isn't available at the moment</h1>

<p> We’re carrying out some maintenance on the service. It will be available again as soon as possible.</p>

<p>Check back again later.</p>

<div class="column-one-half">
		<p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

		<p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

	</div>

				</div>

				<div class="column-one-third">
					{% include 'includes/parts/helpstart.html' %}
				</div>
			</div>
		</form>
	</main>
	{% endblock %}

	{% block pageScripts %}
	{% include 'includes/scripts/ninoFocus.html' %}
	{% include 'includes/scripts/dobFocus.html' %}
	{% include 'mvp/scripts/clear_fields.html' %}
	{% endblock %}
