// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';


@import "elements/confirmation";


// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.phase-banner-alpha  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.phase-tag-alpha {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

.phase-banner-beta  {
  @include phase-banner(beta); // Change this to (beta) for a beta banner
}
.phase-tag-beta {
  @include phase-tag(beta); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.



.label-no-hint {
	padding-bottom: 10px!important;
}

.align-right {
	text-align: right;
}

.webchat {
	position: fixed;
    right: 200px;
    bottom: 0;
    background-color: #008338;
    z-index: 999;
    text-align: center;
    padding: 10px 30px;
    border-radius: 3px 3px 0px 0px;
	text-decoration: none;
	color: #fff!important;
}

.noauth { padding-top: 10px!important; }

.no-margin-top {
    margin-top: 0;
}


.form-group-pass {
  float: left;
  width: 35px;
  margin-right: 5px;
}

.form-control-full {
  width:100%;
}
.form-group-pass.last {
  margin-left:2px;
}

.disabled { background: $grey-1; }

input.disabled { width:30px; height:30px; margin-top:5px; }

.compound-second { padding-bottom:15px; }

.no-border { border: none;}

span.span_nino {
  border: 1px solid;
  padding: 1px 3px 0;
}

span.span_nino2 {
  color: #fff;
  background-color: #0B0C0C;
  padding: 1px 3px 0;
}

.input_nino_part {
  max-width: 50px;
}

#ba-sort-code,
#bs-sort-code {
  max-width: 140px;
}


// Twitter style type-ahead
// #country-type-ahead {
//   position: relative;
// }

#country-list {
  position: absolute;
  width: 100%;
  max-width: 33%;
  z-index: 1;
  top: 63px;
  left: 0;
  background: #fff;

  @media(max-width: 640px) {
    max-width: 93%;
  }
}

.country-link {
  display: block;
  padding: 5px;

  &:hover {
    background: #0097cf;
    color: #fff;
    cursor: pointer;
  }
}

.form-label {
  span {
    padding-left: 30px;
  }
}


.warning-image {
  position: relative;
  margin-top: 15px;
  margin-right: 10px;
}
