
#country-list {
  position: absolute;
  width: 100%;
  max-width: 33%;
  z-index: 1;
  top: 63px;
  left: 0;
  background: #fff;

  @media(max-width: 640px) {
    max-width: 93%;
  }
}

.country-link {
  display: block;
  padding: 8px;
  font-weight: bold;

  &:hover {
    background: #0097cf;
    color: #fff;
    cursor: pointer;
  }
}
