<div class="grid-row">
	<div class="column-two-thirds">
		<nav class="back-nav" role="navigation">
        	<a id="backButton" class="link-back" href="secure">Back</a>
        </nav>

        <div class="error-summary error-message">
        	<br />
        	<h1 class="heading-medium error-summary-heading">Unable to verify your bank details</h1>
		</div>

	    <p class="compound">To make sure we pay your State Pension into the correct account, we’ll need to check a few details with you.</p>
	    <p class="compound">Call us on 0800 731 7898 (textphone 0800 731 7339). Monday to Friday, 8am to 6pm.</p>
	    <p class="compound">You’ll need your invitation code and be able to confirm some details.</p>
 	</div>
</div>
