<div class="grid-row">
	<div class="column-two-thirds js-hidden"  id="amount">
		<br/>
		<div class="highlighted-event" style="padding: 60px; background-color: #28a197; color: #fff; text-align: center;">
        <div style="font-size: 24px; font-weight: bold; clear:both;">Your State Pension will be</div>
        <div style="font-size: 56px; font-weight: bold;">£113.10 a week</div>
	</div>

	<div>
		<h3 class="heading-small">
			How your weekly State Pension is made up:
		</h3>
        <table>
		    <tbody>
		      <tr>
		        <td class="heading-small no-border">New State Pension</td>
		        <td class="heading-small no-border align-right">&pound;86.34</td>
		      </tr>
					<tr>
						<td>New State Pension is the State Pension Scheme for people who reach State Pension age on or after 6 April 2016. New State Pension amount is the weekly amount you can get based on the National Insurance contributions you have paid or have been credited with up to the full rate of new State Pension.<br/>
							  <br/>National Insurance contributions or credits on your National Insurance record before and after 6 April 2016 have counted towards your new State Pension.</td>
						<td></td>
					</tr>
		      <tr>
		        <td class="heading-small no-border">Protected Payment</td>
		        <td class="heading-small no-border">&pound;20.00</td>
		      </tr>
					<tr>
						<td>Your Protected Payment is an extra amount on top of the full rate of the new State Pension. You will have a Protected Payment if one of the following applies:
							<br/>
<br/>•	Your starting amount was more than the full rate of the new State Pension. Your National Insurance record before 6 April 2016 was used to calculate your starting amount in the new scheme.
<br/>
<br/>•	You have inherited some of your late spouse or civil partner’s State Pension and because of this, the amount of your award is more than the full rate of the new State Pension.
</td>
						<td></td>
					</tr>
		      <tr>
		       <td class="heading-small no-border">Extra State Pension</td>
		        <td class="heading-small no-border">&pound;6.76</td>
		      </tr>
					<tr>
						<td>Extra State Pension because you put off getting your State Pension.</td>
						<td></td>
					</tr>
		    </tbody>
		</table>
	</div>

	<fieldset>
    	<legend>
			<span class="form-label">

			</span>
		</legend>
	</fieldset>

	<br/>

    <div class="form-group">
       <input type="submit" class="button" value="Add payment details">
      <!--  <a href="bank-details" class="button" value="Submit">Continue</a> -->
    </div>
  </div>

        <!-- </form> -->
    </div>

    <div id="waiting">

      <center><div class="loader">Loading...</div></div>

    </div>

</div>
