
<div class="grid-row">
    <div class="column-two-thirds js-hidden"  id="amount">
  <br>

<div class="highlighted-event" style="padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
        <div style="font-size: 24px; font-weight: bold; clear:both;">Your State Pension will be</div>
        <div style="font-size: 56px; font-weight: bold;">£113.10 a week</div>

    </div>

<fieldset>
  <legend>
    <span class="form-label">

      </span>
  </legend>


  <!--<div class="form-group form-group-compound">
      <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
        Start getting payments
      </label>

    <label class="block-label" for="radio-indent-2">
        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
        Put off claiming
      </label>
  </div>-->
</fieldset>


    <br>
    <div class="form-group">
       <input type="submit" class="button" value="Add payment details">
      <!--  <a href="bank-details" class="button" value="Submit">Continue</a> -->
    </div>
  </div>

        <!-- </form> -->
    </div>

    <div id="waiting">

      <center><div class="loader">Loading...</div></div>

    </div>

</div>
