<div class="grid-row">
	<div class="column-two-thirds js-hidden"  id="amount">
		<br/>
		<div class="highlighted-event" style="padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
        <div style="font-size: 24px; font-weight: bold; clear:both;">Your State Pension will be</div>
        <div style="font-size: 56px; font-weight: bold;">£113.10 a week</div>
	</div>  
	
	<div class="column-two-thirds">
		<h3 class="heading-medium">
			How your State Pension is calculated
		</h3>
        <table>
		    <thead>
		      <tr>
		        <th scope="col">Date</th>
		        <th class="numeric" scope="col">Paper form</th>
		        <th class="numeric" scope="col">Digital</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>25 November to 1 December 2013</td>
		        <td class="numeric">2,763</td>
		        <td class="numeric">1,792</td>
		      </tr>
		      <tr>
		        <td>2 to 8 December 2013</td>
		        <td class="numeric">2,850</td>
		        <td class="numeric">1,740</td>
		      </tr>
		      <tr>
		       <td>9 to 15 December 2013</td>
		        <td class="numeric">2,388</td>
		        <td class="numeric">1,683</td>
		      </tr>
		    </tbody>
		</table>
	</div>

	<fieldset>
    	<legend>
			<span class="form-label">

			</span>	
		</legend>
	</fieldset>

	<br/>
    
    <div class="form-group">
       <input type="submit" class="button" value="Add payment details">
      <!--  <a href="bank-details" class="button" value="Submit">Continue</a> -->
    </div>
  </div>

        <!-- </form> -->
    </div>

    <div id="waiting">

      <center><div class="loader">Loading...</div></div>

    </div>

</div>
