<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">We may need to get in touch</h1>
<form>
	

    <fieldset class="form-group">
      <legend class="form-label form-group-compound" for="telephone">Let us know which of the following methods we can use to discuss your pension with you:</legend>

      <div class="form-group form-group-compound">
        <label class="block-label" for="telephone-yes" data-target="telephone-details">
          <input id="telephone-yes" type="checkbox" name="telephone" value="Yes"> Telephone
        </label>

      <div class="form-group panel-indent js-hidden" id="telephone-details">
        <label class="form-label-bold label-no-hint" for="sort-code">
          Enter your number
        </label>
        <input type="text" class="form-control" id="telephone">
      </div>
    </div>

    <div class="form-group form-group-compound">
        <label class="block-label" for="email-yes" data-target="email-details">
          <input id="email-yes" type="checkbox" name="email" value="Yes"> Email
        </label>
        <div class="form-group panel-indent js-hidden" id="email-details">
          <label class="form-label-bold label-no-hint" for="email">
            Enter your email address
          </label>
          <input type="text" class="form-control" id="email">
        </div>
      </div>

    <div class="form-group form-group-compound">
        <label class="block-label" for="address-yes" data-target="address-details">
          <input id="address-yes" type="checkbox" name="address" value="Yes"> Post
        </label>

        <div class="form-group panel-indent js-hidden" id="address-details">
          <p>We've already got your postal address.</p>
        </div>

      </div>
    </fieldset>

</form>



    <a href="bank-details" class="button" value="Submit">Next</a>
  </div>
</div>
</div>


</div>
