<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">How would you like to be contacted?</h1>
    <p>To calculate your State Pension amount, we may need to contact you for further information.</p>
    <p>Please tell us how you would like to be contacted</p>
<form>


    <fieldset class="inline form-group">
      <legend class="form-label-bold" for="telephone">Would you like to be contacted by telephone?</legend>
      <div class="form-group">
        <label class="block-label" for="telephone-yes" data-target="telephone-details">
          <input id="telephone-yes" type="radio" name="telephone" value="Yes"> Yes
        </label>
        <label class="block-label" for="telephone-no">
          <input id="telephone-no" type="radio" name="telephone" value="No"> No
        </label>
      </div>

      <div class="form-group panel-indent js-hidden" id="telephone-details">
        <label class="form-label-bold label-no-hint" for="sort-code">
          Telephone number
        </label>
        <input type="text" class="form-control" id="telephone">
      </div>
    </fieldset>

    <fieldset class="inline form-group">
      <legend class="form-label-bold" for="telephone">Would you like to be contacted by email?</legend>
      <div class="form-group">
        <label class="block-label" for="email-yes" data-target="email-details">
          <input id="email-yes" type="radio" name="email" value="Yes"> Yes
        </label>
        <label class="block-label" for="email-no">
          <input id="email-no" type="radio" name="email" value="No"> No
        </label>
      </div>

      <div class="form-group panel-indent js-hidden" id="email-details">
        <label class="form-label-bold label-no-hint" for="email">
          Email
        </label>
        <input type="text" class="form-control" id="email">
      </div>
    </fieldset>

    <fieldset class="inline form-group">
      <legend class="form-label-bold" for="address">Would you like to be contacted by post?</legend>
      <div class="form-group">
        <label class="block-label" for="address-yes" data-target="address-details">
          <input id="address-yes" type="radio" name="address" value="Yes"> Yes
        </label>
        <label class="block-label" for="address-no">
          <input id="address-no" type="radio" name="address" value="No"> No
        </label>
      </div>

      <div class="form-group panel-indent js-hidden" id="address-details">
        <p>We already have your address.</p>
      </div>
    </fieldset>
</form>



    <a href="bank-details" class="button" value="Submit">Next</a>
  </div>
</div>
</div>


</div>
