<div class="grid-row">


    <div class="column-two-thirds">
      <div class="confirmation-message">
          <h1 class="heading-large">&#10003;&nbsp;&nbsp; Application complete<br />
Your reference number is<br />
AAJ2123P</h1>
  </div>
  <h3 class="heading-medium">What happens next?</h3>
  <p>If more information's needed someone will contact you in the next 2 days.</p>
  <p>Otherwise you'll get a letter in the next 7 days confirming when your pension will start and how much you'll get.</p>

    <p><a href="#">Save as PDF</a></p>

    <a href="#" class="button" value="Submit">Give feedback</a><br/>



    <a href="#" class="webchat">Need support? Click for Livechat</a>
    <!--<p class="text">There may be other benefits which you can receive.</p>

    <ul class="list-bullet">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>

    <a href="#" class="button" value="Submit">Send feedback</a><br/>
    <a href="#" class="link">Print this page</a>-->

    </div>


</div>
