<div class="grid-row">


    <div class="column-two-thirds">
      <div class="confirmation-message">
          <h1 class="heading-large">&#10003;&nbsp;&nbsp; Application complete<br />
Your reference number is<br />
HDJ2123F</h1>
  </div>
  <h3 class="heading-medium">What happens next</h3>
  <p>You'll get a letter through the post in the next 7 days to tell you the amount of State Pension you'll get and when you will get it.</p>
  <p>You'll be contacted in the next 2 days if further information is needed to calculate the amount of State Pension you'll get.</p>

    <p><a href="#">Save as PDF</a></p>

    <a href="#" class="button" value="Submit">What did you think of this service? (takes 30 seconds)</a><br/>


    <!--<p class="text">There may be other benefits which you can receive.</p>

    <ul class="list-bullet">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>

    <a href="#" class="button" value="Submit">Send feedback</a><br/>
    <a href="#" class="link">Print this page</a>-->

    </div>


</div>
