<div class="grid-row">


    <div class="column-two-thirds">
      <div class="highlighted-event" style="margin: 40px 0px 20px 0px; padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
          <div style="font-size: 48px; font-weight: bold; clear:both;">&#10003;&nbsp;&nbsp; <br/>Your reference number is
HDJ2123F</div>
  </div>
  <h3 class="heading-medium">What happens next?</h3>
  <p>You will receive your pension award letter by post detailing the amount you will receive.</p>

  <p>You'll be contacted in the next 2 days if further information is needed.</p>


  <h3 class="heading-small">When you'll be paid</h3>
  <table>
    <thead>
        <tr>
          <th colspan="2">First Payment Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>6th November 2015</td>
          <td class="align-right">£339.30</td>
        </tr>
      </tbody>
   </table>
  <br/>
  <table>
      <thead>
        <tr>
          <th colspan="2">Future Payment Dates</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st December 2015</td>
          <td class="align-right">£452.40</td>
        </tr>
        <tr>
          <td>28th December 2015</td>
          <td class="align-right">£452.40</td>
        </tr>
      </tbody>
    </table>
    <br/>

    <h3 class="heading-medium">If your circumstances change</h3>
    <p>You must tell the Department for Work and Pensions of changes to your circumstances.</p>
    <p>
        <span class="heading-small">Telephone:</span><br />
        0845 60 60 265
    </p>
    <p>
        <span class="heading-small">Post:</span><br />
        State Pension Service 15, Post Handling Site B, Wolverhampton, WV99 1AS
    </p>
    <div>
        <div style="float: left;">
            <img src="/public/images/icon-important.png" style="position: relative; margin-top: 5px; margin-right: 10px; ">
        </div>
        <p>You may be prosecuted if you don't report changes. Your State Pension can also be reduced or stopped.</p>
    </div>
    <br/>
    <p><img src="/public/images/icon-file-download.png" style="position: relative; float: left; margin-top: -5px;">&nbsp; <a href="download" target="_new" class="heading-medium">Save this page</a></p>
    <p><img src="/public/images/icon-print.png" width="30" style="float: left; margin-top: -5px;">&nbsp; <a href="#" onclick="window.print();" class="heading-medium">Print this page</a></p>

    <br/>

    <a href="#" value="Submit">What did you think of this service?</a> (takes 30 seconds)<br/>

    </div>


</div>
