<div class="grid-row">
    <div class="column-two-thirds">
	    <h1 class="heading-xlarge">Get your State Pension</h1>
		<p>You’ll receive a letter through the post before you reach <a href="https://www.gov.uk/state-pension/overview">State Pension age</a>. The letter will contain the invite code you’ll need to use this service.</p>
		<p>If you haven’t received the letter, you’ll need to <a href="#">request an invite code</a>.</p>
		<p>You don't have to do anything if you want to <a href="https://www.gov.uk/deferring-state-pension/what-you-may-get">delay getting your State Pension</a>.</p>
		<h3 class="heading-small">To get your State Pension you will need your:</h3>
		<ul class="list-bullet">
			<li>invite code (on your Invitation to Get your State Pension letter)</li>
			<li>National Insurance number</li>
			<li>bank account or building society account details</li>
		</ul>

	    <div class="form-group" class="get-started" id="get-started" style="margin-bottom: 70px;">
	    	<a href="secure" class="button button-get-started" role="button">Start now</a>
	    </div>
	    
	    <section>
			<h2 class="heading-medium compound" id="helpcontent">Other ways to get your State Pension</h2>
			<!--<p class="compound">
	        	<a id="helppage" rel="external" href="/claim-help" target="_blank">Read the guide</a>
	        </p>-->
			<h3 class="heading-small">By phone</h3>
			<p class="compound">Telephone: 0800 731 7898<br/>
			Textphone: 0800 731 7339</p>
	
			<p class="compound">Monday to Friday, 8am to 6pm</p>
		 	<p class="compound">How to get your State Pension if you are from <a href="http://www.nidirect.gov.uk/state-pension-online" rel="external">Northern Ireland</a>.</p>
		</section>
	</div>
</div>