<div class="grid-row">


    <div class="column-two-thirds">
      <div class="confirmation-message negative-message">
          <h1 class="heading-large">Authorisation failed</h1>
  </div>

  <h2 class="heading-medium compound" id="helpcontent">Get help</h2>


  <h3 class="heading-small compound">Telephone: 0800 731 7898</h3>

  <h3 class="heading-small compound">Textphone: 0800 731 7339</h3>

  <p class="compound">Monday to Friday, 8am to 6pm</p>
  <p class="compound"> How to claim is different if you claim from <a href="http://www.nidirect.gov.uk/state-pension-online" rel="external">Northern Ireland</a>.</p>

    </div>


</div>
