{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">You need to confirm your date of birth</h1>

					<h3 class="heading-medium">You must send 1 of these original documents:</h3>

						<ul class="list-bullet">
							<li>birth certificate</li>
							<li>certificate of registration of birth</li>
							<li>adoption order</li>
							<li>certificate of adoption issued by the Registrar General</li>
							<li>identity card</li>
						</ul>

						<h3 class="heading-medium">Or, you can send 2 of these original documents:</h3>

							<ul class="list-bullet">
								<li>passport</li>
								<li>driving licence</li>
								<li>marriage certificate</li>
								<li>certificate of service in the armed forces</li>
								<li>National Health Service medical card</li>
							</ul>
					</br>

					<h3 class="heading-small">Send it to:</h3>

					<p>Newcastle Pension Centre<br/>
						 The Pension Service 13<br/>
						 Post Handling Site B<br/>
						 Wolverhampton<br/>
						 WV99 1AQ
					</p>

					<p> Include your National Insurance number with your document.
					</br>Your document will be returned to you as soon as possible.</p>
				</br>


					<div class="notice">
  						<i class="icon icon-important" style="margin-top: -30px;">
	    						<span class="visually-hidden">Warning</span>
  						</i>
  							<strong class="bold-small">
    							You can continue with your application,
									but we won’t be able to process it until we
									receive confirmation of your date of birth.
  							</strong>
							</br>
					</div>

					<div>
						<p>
							<p><img src="/public/images/icon-file-download.png" style="position: relative; float: left; margin-top: -5px;">&nbsp; <a href="download" target="_new" class="heading-medium">Save this page</a></p>
							<p><img src="/public/images/icon-print.png" width="30" style="float: left; margin-top: -5px;">&nbsp; <a href="#" onclick="window.print();" class="heading-medium">Print this page</a></p>
						</p>
					</div>

						<p>
							<div class="form-group" class="continue" id="continue" style="margin-bottom: 70px;">
									<a href="pension-age-nv" class="button button-continue" role="button">Continue</a>
							</div>
						</p>


				</div>
						<div class="column-one-third">
          	{% include 'includes/parts/help.html' %}
        		</div>
			</div>

	</main><!-- / #page-container -->
	{% endblock %}
