{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">You need to send proof of your date of birth</h1>

			<p class="heading-medium">
				Send the original or a certified copy of 1 of the following documents:
			</p>


			<ul class="list-bullet">
				<li>birth certificate</li>
				<li>certificate of registration of birth</li>
				<li>adoption order</li>
				<li>certificate of adoption issued by the Registrar General</li>
				<li>identity card</li>
			</ul>

		</br>

		<details>
			<summary><span class="summary">I do not have any of these</span></summary>
			<div class="panel panel-border-narrow">
				<p>
					You can send the original or a copy of 2 of the following documents:
					<li>passport</li>
					<li>driving licence</li>
					<li>certificate of naturalisation or citizenship</li>
					<li>medical card</li>
					<li>school certificate</li>
				</p>
			</div>

		</details>

		<p class="heading-medium">
			Certified copies must be dated and signed by 1 of the following people
			confirming that it's a true copy of the original:
		</p>

		<ul class="list-bullet">
			<li>bank official (authorised to sign documents)</li>
			<li>government official (authorised to sign documents)</li>
			<li>doctor or surgeon (registered in the country you are applying from)</li>
			<li>solicitor or barrister (authorised to practice in the country you are applying from)</li>
			<li>civil servant</li>
			<li>minister of religion</li>
			<li>chartered accountant</li>
		</ul>

		<p class="heading-medium">
			Include your National Insurance number and send your document to:
		</p>

		<p>The Pension Service 11<br/>
			Mail Handling Site A<br/>
			Wolverhampton<br/>
			WV98 1LW<br/>
			United Kingdom
		</p>

		<div class="notice">
			<i class="icon icon-important">
				<span class="visually-hidden">Warning</span>
			</i>
			<strong class="bold-small">
				You can continue with your application,
				but it can't be processed until you send proof of your date of birth.
			</strong>
		</div>

</br>

		<a class="button" href="declaration" role="button">Continue</a>

	</div>
	<div class="column-one-third">
		{% include 'includes/parts/helpinternational.html' %}
	</div>
</div>
</main><!-- / #page-container -->
{% endblock %}
