{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}

		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					{% if errors %}
						<div class="error-summary error-message no-margin-top" data-banktype="{{errors.bank_type}}">
							<h2 class="heading-medium error-summary-heading">{{errors.title}}</h2>
							<p>{{errors.text}}</p>
						</div>
					{% endif %}

					<h1 class="heading-xlarge">Your account details</h1>
					<p class="text">You can only have your pension paid into your personal or joint bank or building society account.</p>


				</div>

				

				<div class="column-one-third">
					{% include 'includes/parts/bank-side.html' %}
				</div>


			</div>
		</main>
	{% endblock %}

	{% block pageScripts %}
		{% include 'includes/scripts/bankFocus.html' %}
		{% include 'sprint5/scripts/clear_fields.html' %}
	{% endblock %}
