{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main" class="group">
  {% include 'includes/parts/phase-banner.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Your details
      </h1>

      <p>We've recieved your name, date of birth and address from GOV.UK Verify</p>

      <h2 class="heading-medium"> Your date of birth </h2>
      <div class="panel panel-border-wide">
        <p>
          12 March 1951
      </div>
      We'll use this to confirm you're eligible to get you State Pension.</p>

      <h2 class="heading-medium"> Your address</h2>
      <div class="panel panel-border-wide">
        <p>
          Jane Smith</br>
          1A Argleton</br>
          Argleton</br>
          ARG1 4HP</br>

        </p>
      </div>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="heading-medium">
          Is this your current address?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="address-yes" type="radio" name="dec-in" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="address-no" type="radio" name="dec-in" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>
  </div>
  <button type="submit" class="button">Continue</button>
</form>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>
</main>

{% endblock %}
