{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Your personal data
			</h1>

			<p>
				The only data GOV.UK Verify will share with the Department for </br>
				Work and Pensions is:
			</br>
			<ul class="list-bullet">
				<li>your name</li>
				<li>your date of birth</li>
				<li>your address</li>
			</ul>
		</p>

		<form>
			<div class="form-group">
				<fieldset class="inline">

					<legend>
						<h1 class="heading-medium">
							Can we use this information when you claim your </br>
							State Pension?
						</h1>
					</legend>

					<div class="multiple-choice">
						<input id="info-yes" type="radio" name="dec-out" value="Yes">
						<label for="radio-inline-1">Yes</label>
					</div>
					<div class="multiple-choice">
						<input id="info-no" type="radio" name="dec-out" value="No">
						<label for="radio-inline-2">No</label>
					</div>

				</fieldset>
			</div>
			<button type="submit" class="button">Continue</button>
		</form>
	</div>

</div>
</main>
{% endblock %}

{% block pageScripts %}
{% include 'includes/scripts/ninoFocus.html' %}
{% include 'includes/scripts/dobFocus.html' %}
{% include 'sprint9/scripts/clear_fields.html' %}
{% endblock %}
