{% extends 'layout.html' %}
	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Some of your details haven't been recognised</h1>

					<p class="lede">
						To get your State Pension you’ll need to confirm some personal
						details.
					</p>

					<h3 class="heading-small">By phone</h3>

					<p>
						Telephone: 0800 731 7898</br>
						Textphone: 0800 731 7339
					</p>

					<p>Monday to Friday, 8am to 6pm</p>

					<p>
						You’ll need the invitation code included in your 'Get your State
						Pension' letter.
					</p>
				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
