{% extends 'layout.html' %}

  {% block pageTitle %}
  	State Pension Activation
  {% endblock %}

  {% block content %}
  <main id="content" role="main">
    {% include 'includes/parts/phase-banner.html' %}
    <div class="grid-row">
      <div class="column-two-thirds">


          <h1 class="heading-xlarge">{{title}}</h1>

          <form action="have-you-worked-abroad" method="post">
            <fieldset class="inline">
              <div class="form-group">
                <div class="multiple-choice">
                  <input id="worked-outside-yes" type="radio" name="worked-outside-select" value="Yes">
                  <label for="worked-outside-yes">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="worked-outside-no" type="radio" name="worked-outside-select" value="No">
                  <label for="worked-outside-no">No</label>
                </div> 
              </div>
            </fieldset>

            <input type="submit" class="button" value="Continue">
          </form>
        </div>
        <div class="column-one-third">
          {% include 'includes/parts/help.html' %}
        </div>
      </div>
    </main>
  {% endblock %}

