{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">You need to confirm your date of birth</h1>

					<p class="lede">
						You must send one of these original documents:
					</p>

						<p>
						<ul class="list-bullet">
							<li>birth certificate</li>
							<li>certificate of registration of birth</li>
							<li>adoption order</li>
							<li>certificate of adoption issued by the Registrar General</li>
							<li>identity card</li>
						</ul>
						</p>

					<p>Send it to:</p>

					<p>Newcastle Pension Centre<br/>
						 The Pension Service 13<br/>
						 Post Handling Site B<br/>
						 Wolverhampton<br/>
						 WV99 1AQ
					</p>

					<p>Your document will be returned to you as soon as possible.</p>

					<div class="notice">
  					<i class="icon icon-important">
	    						<span class="visually-hidden">Warning</span>
  					</i>
  						<strong class="bold-small">
    						You can continue to make your claim,
								but we won’t be able to process it until we
								receive confirmation of your date of birth.
  						</strong>
					</div>

							<p>
							<div class="form-group" class="continue" id="continue" style="margin-bottom: 70px;">
									<a href="pension-age" class="button button-continue" role="button">Continue</a>
							</div>
							</p>


				</div>
						<div class="column-one-third">
          	{% include 'includes/parts/help.html' %}
        		</div>
			</div>

	</main><!-- / #page-container -->
	{% endblock %}
