{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Your date of birth hasn't been recognised</h1>

					<p>You need to send something that shows your date of birth. It must
						be one of these original documents:</p>

						<ul class="list-bullet">
							<li>a birth certificate</li>
							<li>a certificate of registration of birth</li>
							<li>an adoption order</li>
							<li>a certificate of adoption issued by the Registrar General</li>
							<li>an identity card</li>
						</ul>

					<p>Send it to:</p>

					<p>Xxxxxxx<br>Xxxxxxx<br>Xxxxxxx<br>XXX XXX</p>

					<p>Your document will be returned to you as soon as possible.</p>

				</div>
				<div class="column-one-third">
          {{>includes/parts/help}}
        </div>
			</div>
	</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
