{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">You are too early to get your State Pension </h1>

					<p> According to the information you have given us,
							you are too early to claim your State Pension.
							You will reach State Pension age on  <span class="bold-small">10 April 2020</span>.
					</p>

					<p><span class="bold-small">By phone</span></p>


					<p>Telephone: 0800 731 7898</p>

					<p>Textphone: 0800 731 7339</p>

					<p>Monday to Friday, 8am to 6pm</p>


				</div>
				<div class="column-one-third">
        </div>
			</div>
	</main><!-- / #page-container -->
	{% endblock %}
