{% extends 'layout.html' %}

{% block pageTitle %}
	State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

    <div class="grid-row">
	    <div class="column-two-thirds">
				<form action="../relationship-status-date/{{type}}" method="post">
			    <h1 class="heading-xlarge">{{ eventText }}</h1>

					<div class="form-group form-date">
						<fieldset>
							<p class="form-hint">For example, 31 12 1980</p>

							<div class="form-group form-group-day">
								<label for="dob-day">Day</label>
								<input class="form-control" id="dob-day" maxlength="2" name="dob-day" value="{{dob-day}}" type="text" data-required="true"/>
							</div>

							<div class="form-group form-group-month">
								<label for="dob-month">Month</label>
								<input class="form-control" id="dob-month" maxlength="2"  name="dob-month" value="{{dob-month}}" type="text" data-required="true"/>
							</div>

							<div class="form-group form-group-year">
								<label for="dob-year">Year</label>
								<input class="form-control" id="dob-year" maxlength="4" name="civil_year" value="{{dob-year}}" type="text" data-required="true"/>
							</div>
						</fieldset>
					</div>

			    <div class="form-group">
						 <input type="submit" class="button" name="submit" value="Continue">
	        </div>
				</form>
			</div>
    </div>

         </div>
</main><!-- / #page-container -->

{% endblock %}

{{$pageScripts}}
		{{>includes/scripts/dobFocus}}
{{/pageScripts}}


