{% extends 'layout.html' %}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<nav class="back-nav" role="navigation">
						<a id="backButton" class="link-back" href="secure">Back</a>
					</nav>

					<br />

					<h1 class="heading-xlarge">Unable to identify you</h1>

					<p class="compound">To get your State Pension we’ll need to check a few details.</p>

					<h3 class="heading-small">Call us</h3>
					<p class="compound">
						Telephone: 0800 731 7898<br/>
						Textphone: 0800 731 7339
					</p>

					<p class="compound">Monday to Friday, 8am to 6pm</p>  <p class="compound">You’ll need your invitation code and be able to confirm some personal details.</p>
				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
