{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}

	<form method="post" action="secure">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">Your details</h1>

				<div class="form-group">
					<fieldset>
						<label class="form-label-bold" for="ni_number">
							Invitation code
							<p class="form-hint">Can be found on your Get your State Pension letter.</br>
							</label>

							<div class="form-group">
								<input type="text" class="form-control" id="reference" name="reference" data-required="true"/><br/>
							</div>
						</fieldset>
					</div>

					<p class="text form-label-bold" for="address-select">
						Are you living or receiving post at the address we sent your invitation letter to?
					</p>

					<fieldset class="inline">
						<div class="form-group">
							<div class="multiple-choice">
								<input id="address-yes" type="radio" name="address-select" value="Yes">
								<label for="address-yes">Yes</label>
							</div>

							<div class="multiple-choice">
								<input id="address-no" type="radio" name="address-select" value="No">
								<label for="address-no">No</label>
							</div>
						</div>
					</fieldset>

					<div class="form-group">
						<button class="button" value="Continue">Continue</button> <br>
					</div>
				</div>

				<div class="column-one-third">
					{% include 'includes/parts/helpstartinternational.html' %}
				</div>
			</div>
		</form>
	</main>
	{% endblock %}

	{% block pageScripts %}
	{% include 'includes/scripts/ninoFocus.html' %}
	{% include 'includes/scripts/dobFocus.html' %}
	{% include 'mvp/scripts/clear_fields.html' %}
	{% endblock %}
