{% extends 'layout.html' %}

  {% block pageTitle %}
  	State Pension Activation
  {% endblock %}

  {% block content %}
  <main id="content" role="main">
    {% include 'includes/parts/phase-banner.html' %}
    <div class="grid-row">
      <div class="column-two-thirds">


          <h1 class="heading-xlarge">Have you worked anywhere else?</h1>



          <form action="workedextra" method="post">
            <fieldset class="inline">
              <div class="form-group">

                <div class="multiple-choice">
                  <input id="workedextra-yes" type="radio" name="worked-anywhere-else" value="Yes">
                  <label for="workedextra-yes">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="workedextra-no" type="radio" name="worked-anywhere-else" value="No">
                  <label for="workedextra-no">No</label>
                </div>
              </div>
            </fieldset>


            <input type="submit" class="button" value="Continue">


          </form>
        </div>
        <div class="column-one-third">
          {% include 'includes/parts/helpinternational.html' %}
        </div>
      </div>
    </main>
  {% endblock %}
