{% extends "layout.html" %}

{% block page_title %}
Get your State Pension
{% endblock %}

{% block content %}

<main id="content" role="main" class="group">
  {% include 'includes/parts/phase-banner.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="secure.html">Back</a>

      <h1 class="heading-xlarge">
        You need to call us
      </h1>

      <p>If you've reached your State Pension age and have not received an invitation letter, you'll need 
          to call us to claim your State Pension.</p>

        

        <p>
          <span class="bold-small">Telephone:</span> +44 (0)191 218 7777 </br>
          <span class="bold-small">Textphone:</span> +44 (0)191 218 7280 </br></p>
          <p>Monday to Friday, 8am to 6pm UK time.</br>
          Closed UK public holidays.</p>
        </p>
<p>You'll need your National Insurance number and we'll ask you to confirm some personal details.</p>

        

      </div>


    </div>
  </main>

  {% endblock %}
