{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
			    <div class="column-two-thirds">
						<br/>
						<br/>
				    <h1 class="heading-xlarge">Get your State Pension</h1>
						<p>Only use this service if you want to  start being paid any State Pension you're entitled to as soon as possible.</p>
						<p>You'll need:</p>

						<ul class="list-bullet">
							<li>your partner's details, including the date you were married or became civil partners</li>
							<li>the date you were divorced or your civil partnership was dissolved</li>
							<li>details of any time spent living or working abroad</li>
							<li>your own bank or building society details</li>
						</ul>
						<br/>
						<p>If you don't want to get your State Pension now, come back when you're ready.</p>
				    <div class="form-group" class="get-started" id="get-started" style="margin-bottom: 70px;">
				    	<a href="pensiondate" class="button button-get-started" role="button">Start now</a>
				    </div>

				</div>


			</div>

		</main><!-- / #page-container -->
	{% endblock %}
