<script>
  $(document).on('keyup', 'input', function() {
    var date = get_dates();

    if ( date.input_date > date.four_months ) {
      $('#error-message').css('display', 'block');
      $('#error-message span').html(date.valid_date);
      $('#error-message').parent().addClass('error');
    } else {
      $('#error-message').css('display', 'none');
      $('#error-message').parent().removeClass('error');
    }
  });

  $(document).on('click', 'label', function() {
    var date = get_dates();

    if ( $(this).find('input').attr('id') === 'select-asap') {
      $('#error-message').css('display', 'none');
    } else if ( $(this).find('input').attr('id') === 'select-set') {
      if ( date.input_date > date.four_months ) {
        $('#error-message').css('display', 'block');
        $('#error-message').parent().addClass('error');
        $('#error-message span').html(date.valid_date);
      } else {
        $('#error-message').css('display', 'none');
        $('#error-message').parent().removeClass('error');
      }
    }
  });

  function get_nth_suffix(day) {
    switch (day) {
      case 1:
      case 21:
      case 31:
        return 'st';
      case 2:
      case 22:
        return 'nd';
      case 3:
      case 23:
        return 'rd';
      default:
        return 'th';
    }
  }

  function get_dates() {
    var input_date  = new Date( $('#set-year').val() + '-' + $('#set-month').val() + '-' + $('#set-day').val() ),
        today_date  = new Date(),
        four_months = new Date( new Date(today_date).setMonth(today_date.getMonth() + 4 ) ),
        valid_date  = new Date( new Date(input_date).setMonth(input_date.getMonth() - 4)),
        monthNames  = [
          "January", "February", "March",
          "April", "May", "June", "July",
          "August", "September", "October",
          "November", "December"
        ],
        day     = valid_date.getDate(),
        month   = valid_date.getMonth(),
        year    = valid_date.getFullYear(),
        suffix  = get_nth_suffix(day);
        valid_date = day + suffix + ' ' + monthNames[month] + ' ' + year;

    return {'input_date': input_date, 'today_date': today_date, 'four_months': four_months, 'valid_date': valid_date}
  }
</script>
