{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Cookie Policy</h1>
					<p>The Get your State Pension service puts small files (known as 'cookies') on to your computer.</p>
					<p>These cookies are used to:</p>
					<ul class="list-bullet">
						<li>understand how you use the service to make improvements</li>
						<li>remember any notifications you've seen so that you're not shown them more than once</li>
						<li>keep your information secure as you move through the service</li>
					</ul>
					<p>You must have cookies enabled on your computer to use the Get your State Pension service.</p>

					<h3 class="heading-medium">If your cookies are switched off</h3>
					<p>You'll see an error message when you try to use the service if your cookies are disabled.</p>
					<p>How to turn cookies on depends on <a href="https://whatbrowser.org/">the browser you're using</a> and how up to date it is.</p>
					<p>Find out how to change your settings for the most popular browsers, including:</p>
					<ul class="list-bullet">
						<li><a href="https://support.microsoft.com/en-us/products/windows?os=windows-10">Internet Explorer</a></li>
						<li><a href="https://www.mozilla.org/en-US/?v=a">Mozilla Firefox</a></li>
						<li><a href="https://support.google.com/accounts/answer/61416?hl=en">Google Chrome</a></li>
						<li><a href="https://www.apple.com">Safari</a>, commonly used on iPads, iPhones and other Apple computers</li>
					</ul>
					<p>Find out <a href="http://www.aboutcookies.org/Default.aspx?page=1">how to manage cookies</a> for other browsers.</p>

					<h3 class="heading-medium">Cookies used by the Get your State Pension service</h3>
					<h4 class="heading-small">Google analytics</h4>
					<p>Google Analytics collects information about how you use the service. This information is used to improve the service.</p>
					<p>Google analytics cookies collect and store information about:</p>
					<ul class="list-bullet">
						<li>the page you visit - what you click on when using the service</li>
						<li>how long you spend on each page</li>
						<li>how you got to the service</li>
					</ul>

					<h4 class="heading-small">Google analytics</h4>
					<table>
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th class="text" scope="col">Purpose</th>
								<th class="text" scope="col">Expires</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>_ga</td>
								<td class="text">Counts how many people visit the service by tracking if you've visited before.</td>
								<td class="text">30 minutes or when you close your browser</td>
							</tr>
							<tr>
								<td>_gat</td>
								<td class="text">Used to count how many pages are viewed and how often.</td>
								<td class="text">10 minutes</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<p>Google won't use or share analytics data with anyone, but you can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a>.</p>

					<h4 class="heading-small">Session and security cookies</h4>
					<p>Session cookies keep your information secure as you move back and forward through the service.</p>
					<p>These cookies are automatically removed from your computer when you complete your application or if you:</p>
					<ul class="list-bullet">
						<li>don't do anything for 30 minutes</li>
						<li>close your browser</li>
						<li>switch off your computer</li>
					</ul>

					<h4 class="heading-small">Introductory message cookie</h4>
					<p>You may see a pop-up 'welcome' message when you first use the service. A cookie makes sure you only see this message once a month.</p>
					<p>This cookie is removed from your computer after a month.</p>
					<p>More information about the cookies used on this service.</p>

					<h4 class="heading-small">If you don't want to apply online</h4>
					<p>If you don't want to use this online service you can get your State Pension by phoning 0800 731 7898.</p>

					<h3 class="heading-medium">Cookies</h3>
					<h4 class="heading-small">Service cookies</h4>
					<table>
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th class="text" scope="col">Purpose</th>
								<th class="text" scope="col">Expires</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>seen_cookie_message</td>
								<td class="text">This records if you've seen the cookies message at the top of the site when you first come in, so you don't see it on every visit.</td>
								<td class="text">1 month</td>
							</tr>
							<tr>
								<td>sessionID</td>
								<td class="text">To remember where you are in the application and your previous answers so you can move back and forward through the service.</td>
								<td class="text">30 minutes or when you cose your browser</td>
							</tr>
						</tbody>
					</table>



				</div>

			</div>
	</main><!-- / #page-container -->
	{% endblock %}

