{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Declaration</h1>
					<p>By submitting this application, you agree:</p>

					<ul class="list-bullet">
						<li>the information you've given is complete and correct</li>
						<li>to tell the Department for Work and Pensions (DWP) straight away if your address, bank details, or marital status change</li>
						<li>DWP can ask you to pay back any recoverable overpayment of State Pension</li>
					</ul>

					<p>You may be prosecuted or have to pay a penalty if you give wrong or incomplete information, or if you don't report changes straight away.</p>
					<a href="end" class="button" value="Submit">I agree - send application</a>
					<br/>
				</div>
				<div class="column-one-third">
          {{>includes/parts/help}}
        </div>
			</div>
	</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
