{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Declaration</h1>
					<p>By submitting this application, you agree:</p>

					<ul class="list-bullet">
						<li>the information you've given is complete and correct</li>
						<li>you'll promptly tell the Pension Service of changes in your circumstances</li>
						<li>the Department for Work and Pensions can ask you to pay back any overpaid money, or money which you are not entitled to</li>
					</ul>

					<p>You may be prosecuted or need to pay a penalty if you give wrong or incomplete information, or you don't report changes.</p>
					<a href="end" class="button" value="Submit">I agree - send application</a>
					<br/>
				</div>
			</div>
	</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
