{% extends 'layout.html' %}

  {% block pageTitle %}
  	State Pension Activation
  {% endblock %}

  {% block content %}
    <main id="content" role="main">
      {% include 'includes/parts/phase-banner' %}
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">What countries have you worked in?</h1>

          <form id="countries" action="what-countries-have-you-worked-in" method="post">
            <fieldset id="country-type-ahead">
              <div class="form-group">
                <label class="form-label" for="country-name-1">Country name <span class="remove-link"></span></label>
                <input class="form-control country-name" id="country-name-1" type="text" name="country-name-1" autocomplete="off">

                <div class="country-list" style="display:none;">
                </div>
              </div>
            </fieldset>

            <p>
              <a id="add-another-country" href="#">Add another country</a>
            </p>

            <input type="submit" class="button" value="Continue">
          </form>
        </div>
        <div class="column-one-third">
          {{>includes/parts/help}}
        </div>
      </div>
    </main>
  {% endblock %}

  {{$pageScripts}}
      {{>sprint8v2/scripts/countries}}
  {{/pageScripts}}

