{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner' %}

			<form method="post" action="">
				<div class="grid-row">
					<div class="column-two-thirds">
						<h1 class="heading-xlarge">{{ pageHeader }}</h1>

						<div class="form-group">
							<fieldset>

								<label class="form-label-bold" for="first-name">Their first name</label>
								<input type="text" class="form-control" name="first-name" id="first-name" data-required="true">
							</fieldset>
						</div>

						<div class="form-group">
							<fieldset>
								<label class="form-label-bold" for="surname">Their surname</label>
								<input type="text" class="form-control" id="surname" name="surname" data-required="true">
							</fieldset>
						</div>

						<div class="form-group">
							<label class="form-label-bold" for="full-name">All their other names they have been known by</label>
							<p class="form-hint">Include maiden name, former married names and changes of family name.</p>
							<input type="text" class="form-control" id="other-name" name ="other-name">
						</div>

						<div class="form-group">
							<fieldset>
								<legend class="form-label-bold">Their date of birth (optional)</legend>

								<div class="form-date">
									<p class="form-hint">For example, 31 3 1980</p>

									<fieldset>
										<div class="form-group form-group-day">
											<label for="dob-day">Day</label>
											<input class="form-control" name="dob-day" id="dob-day" type="text" maxlength="2" data-required="true">
										</div>

										<div class="form-group form-group-month">
											<label for="dob-month">Month</label>
											<input class="form-control" name="dob-month" id="dob-month" type="text" maxlength="2" data-required="true">
										</div>

										<div class="form-group form-group-year">
											<label for="dob-year">Year</label>
											<input class="form-control" name="dob-year" id="dob-year" type="text" maxlength="4" data-required="true">
										</div>
									</fieldset>
								</div>
							</fieldset>
						</div>

						<div class="form-group">
							<input type="submit" name="submit" class="button" value="Continue">
						</div>
					</div>
				</div>
			</form>
		</main><!-- / #page-container -->
	{% endblock %}

	{{$pageScripts}}
	{{/pageScripts}}

