{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
			    <div class="column-two-thirds">
				    <h1 class="heading-xlarge">Get your State Pension</h1>

						<p class="text">
							You can get your State Pension if you're within 4 months and 4 days of state pension age.
						</p>

				    <div class="form-group" class="get-started" id="get-started" style="margin-bottom: 70px;">
				    	<a href="secure" class="button button-get-started" role="button">Start now</a>
				    </div>
				</div>
			</div>

		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
