{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<main id="content" role="main">
			{{>includes/parts/phase-banner}}

			<div class="grid-row">
				<div class="column-two-thirds">
					<form method="post" action='work-or-lived-aboard'>

						<h1 class="heading-xlarge">Have you lived or worked outside of the UK?</h1>

						<p>You may be able to use your time abroad to make up the qualifying years needed to get any State Pension.</p>
						<p>You could also be entitled to a State Pension from other countries you’ve lived or worked in.</p>

						<fieldset class="inline">
							<label class="block-label" for="radio-inline-1">
								<input id="radio-inline-1" type="radio" name="workedOutsideUk" value="Yes">
								Yes
							</label>

							<label class="block-label" for="radio-inline-2">
								<input id="radio-inline-2" type="radio" name="workedOutsideUk" value="No">
								No
							</label>
						</fieldset>

						<br/>

						<div class="form-group">
							<input type="submit" class="button" value="Continue">
						</div>
					</form>

				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
