{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">How can we contact you?</h1>

						<form method="post">

							<div class="form-group">

								<div>
									<p>We may contact you if we need further information.</p>
								</div>

				</div>
						<div class="form-group">

							<fieldset>

								<p class="form-hint">You must provide at least one phone number.</p>

				      	<div class="multiple-choice" data-target="contact-by-homephone">
				        	<input id="homephone" type="checkbox" name="radio-phone" value="Yes">
				        	<label for="example-contact-by-homephone">Home phone</label>
				      	</div>

								<div class="panel panel-border-narrow js-hidden" id="contact-by-homephone">
									<label class="form-label" for="contact-email">Home phone number</label>
				        	<input class="form-control" name="contact-by-homephone" type="text" id="contact-by-homephone">

				      	</div>

				      	<div class="multiple-choice" data-target="contact-by-mobilephone">
				        	<input id="mobilephone" type="checkbox" name="radio-phone" value="No">
				        	<label for="example-contact-by-mobilephone">Mobile phone</label>
				      	</div>

								<div class="panel panel-border-narrow js-hidden" id="contact-by-mobilephone">
									<label class="form-label" for="contact-email">Mobile phone number</label>
									<label class="form-hint" for="contact-email">We may use text messages to update you about your claim.</label>
									<input class="form-control" name="contact-mobilephone" type="text" id="contact-mobilephone">
				      	</div>

				      	<div class="multiple-choice" data-target="contact-by-workphone">
				        	<input id="workphone" type="checkbox" name="radio-phone" value="No">
									<label for="workphone">Work phone</label>
				      	</div>

								<div class="panel panel-border-narrow js-hidden" id="contact-by-workphone">
																		<label class="form-label" for="contact-email">Work phone number</label>
				        	<input class="form-control" name="radio-workphone" type="text" id="contact-workphone">
				      	</div>


							</div>

								<div class="form-group">
				  				<label class="form-label-bold" for="email-address">Email address</label>
									<label class="form-hint" for="contact-email">We'll use this to
										confirm we've received your application.</label>
				  				<input class="form-control" id="email-address" name="email-address" type="text">
								</div>

				    </fieldset>

						<div class="form-group">
							<button type="submit" class="button"> Continue </button>
						</div>

	  </form>

				</div>

				<div class="column-one-third">
          {% include 'includes/parts/help.html' %}
        </div>
			</div>
		</main><!-- / #page-container -->
	{% endblock %}
