{% extends 'layout.html' %}

  {% block pageTitle %}
  	State Pension Activation
  {% endblock %}

  {% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        {% include 'includes/parts/phase-banner.html' %}

          <h1 class="heading-xlarge">Have you worked anywhere else outside the UK?</h1>

          <p>
            <span class="form-hint">
              You do not need to provide any details if you spent time overseas with the British Armed Forces.
            </span>
          </p>

          <form action="have-you-worked-anywhere-else" method="post">
            <fieldset class="inline">
              <div class="form-group">
                <label class="block-label" for="worked-outside-yes">
                  <input id="worked-outside-yes" type="radio" name="worked-outside-select" value="Yes">
                  Yes
                </label>
                <label class="block-label" for="worked-outside-no">
                  <input id="worked-outside-no" type="radio" name="worked-outside-select" value="No">
                  No
                </label>
              </div>
            </fieldset>

            <input type="submit" class="button" value="Continue">
          </form>
        </div>
        <div class="column-one-third">
          {% include 'includes/parts/help.html' %}
        </div>
      </div>
    </main>
  {% endblock %}
