{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}

	<form method="post" action="secure">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">What is your current address?</h1>

<div>
<h4 class="heading-small">Postcode </br>
AP1 234  <a href="currentaddress">Change</a></h4>
</div>

<div class="form-group">
  <label class="form-label" for="first-name-2">Building and street</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>

<div class="form-group">
  <label class="form-label" for="first-name-2">Town or city</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
	  <label class="form-label" for="first-name-2">Building and street</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>


				<a href="pension-age" class="button" value="Submit">Save and continue</a>
			</div>

			<div class="column-one-third">
				{% include 'includes/parts/helpstart.html' %}
			</div>
		</div>
	</form>
</main>
{% endblock %}

{% block pageScripts %}
{% include 'includes/scripts/ninoFocus.html' %}
{% include 'includes/scripts/dobFocus.html' %}
{% include 'mvp/scripts/clear_fields.html' %}
{% endblock %}
