{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			
			<h1 class="heading-xlarge">Get your State Pension</h1>

			<p>Use this service to get your State Pension online.</p>

<p>You'll need:</p>

<ul class="list-bullet">
  <li>the date of your most recent marriage, civil partnership or divorce</li>
  <li>dates of any time spent living or working abroad</li>
  <li>your personal or joint bank or building society details</li>
</ul>
<br>
<p>If you have received a letter about getting your State Pension, you can use
	the invitation code from that.
</p>
		



<p>If you have not received an invitation letter and you are within 4 months of reaching your <a href="https://www.gov.uk/state-pension-age">State Pension age</a>, you can still use the online service.</p>
	

	<div class="form-group" class="get-started" id="get-started" style="margin-bottom: 70px;">
		<a href="letter" class="button button-get-started" role="button">Start now</a>
	</div>

	<h2 class="heading-medium">
		Other ways to get your State Pension
	</h2>

	<p>The online service is also available in <a href="https://www.gov.uk/cael-eich-pensiwn-y-wladwriaeth">Welsh (Cymraeg)</a>.</p>
		
		
		
		<p>There's a different way to get your State Pension if <a rel="external" href="https://www.nidirect.gov.u=
		k/get-state-pension">you live in Northern Ireland</a>, or if <a href="https://www.gov.uk/state-pension-if-you-retire-abroad">you live outside of the UK</a> and have not received an invitation letter.</p>
		
		<p>The online service is the quickest way to get your State Pension, but you can also <a href="https://www.gov.uk/contact-pension-service">apply by phone</a> or <a href="https://www.gov.uk/government/publications/the-basic-state-pension">print and post a form</a>.</p>

</div>

<div class="column-one-third">
	<section class="font-xsmall" id="relcont">
		<h2 class="heading-medium" id="relatedcontent">Related content</h2>
		
	  
		<ul class="list">
		  <li>
			<a href="https://www.gov.uk/new-state-pension">The new State Pension</a>
		  </li>
		  <li>
			<a href="https://www.gov.uk/deferring-state-pension">Delay (defer) your State Pension</a>
		  </li>
		</ul>
		
	  
	  </section>
  </div>

</div>

</main><!-- / #page-container -->
{% endblock %}
