{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			{% include 'includes/parts/phase-banner.html' %}

			<div class="grid-row">
				<div class="column-two-thirds">
					<div class="confirmation-message">
						<span style="font-size: 42px; font-weight: bold;">Application sent</span><br/>
						<span style="font-size: 22px;">{{completeDate}}</span><br/>
						<span style="font-size: 22px;">Your reference number is</span><br/>
						<span style="font-size: 28px; font-weight: bold;">your National Insurance number</span>
					</div>

					<h3 class="heading-medium">What happens next</h3>

					<div class="notice">
						<i class="icon icon-important">
									<span class="visually-hidden">Warning</span>
						</i>
							<strong class="bold-small">
									You need to send proof of your date of birth before
									your application can be processed.
							</strong>
					</div>

						<h3 class="heading-medium">You must send 1 of these original documents:</h3>

						<ul class="list-bullet">
							<li>Birth certificate</li>
							<li>Certificate of registration of birth</li>
							<li>Adoption order</li>
							<li>Certificate of adoption issued by the Registrar General</li>
							<li>Identity card</li>
						</ul>

						<h3 class="heading-medium">Include your National Insurance number and send it to:</h3>

							<p>The Pension Service 4<br>
								Mail Handling Site A<br>
								Wolverhampton<br>
								WV98 1AG</p>

					<h3 class="heading-medium">If your circumstances change</h3>
					<p>
						You must report the following changes straight away:

						<ul class="list list-bullet">
							<li>change of address (including going into hospital, a care home or permanently leaving the UK)</li>
							<li>bank details</li>
							<li>death of a spouse or civil partner</li>
							<li>separation from a spouse or civil partner</li>
						</ul>
					</p>
					<p><span class="heading-small">Telephone:</span> 0345 606 0265</p>
					<br/>

					<p><img src="/public/images/icon-print.png" width="30" style="float: left; margin-top: -5px;">&nbsp; <a href="#" onclick="window.print();" class="heading-medium">Print this page</a></p>

					<a href="#" value="Submit">What did you think of this service?</a><br/>
				</div>
			</div>
		</main><!-- / #page-container -->
		{% endblock %}
