{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}

		<!-- #page-container -->
		<main id="content" role="main" class="group">
			<div class="phase-banner">
				<p>
					<strong class="phase-tag">ALPHA</strong>
					<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
				</p>
			</div>

			<div class="grid-row">
				<div class="column-two-thirds">
					{{#errors}}
						<div class="error-summary error-message no-margin-top" data-banktype="{{errors.bank_type}}">
							<h2 class="heading-medium error-summary-heading">{{errors.title}}</h2>
							<p>{{errors.text}}</p>
						</div>
					{{/errors}}

					<h1 class="heading-xlarge">Your payment details</h1>
					<p class="text">You can only have your pension paid into your own bank or building society account.</p>

					<p class="text">Give details of the bank or building society account for your pension to be paid into.</p>

					<br />

					<form action="/january/bank-details" method="POST">
						<fieldset class="form-group">
							<legend class="form-label-bold" for="address">How would you like to get paid?</legend>

							<label class="block-label" for="building_1" data-target="bank-details">
								<input id="building_1" type="radio" name="building" value="bank">
								Bank account
							</label>

							<label class="block-label" for="building_2" data-target="building-soc-details">
								<input id="building_2" type="radio" name="building" value="building">
								Building society account
							</label>
						</fieldset>

						<div class="js-hidden" id="bank-details">
							<div class="form-group">
								<label class="form-label-bold label-no-hint" for="ba-account-holder">Your name</label>
								<input type="text" class="form-control" id="ba-account-holder" name="ba-account-holder" value="{{data.ba-account-holder}}">
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="ba-account-number">
									Your account number
								</label>
								<input type="text" class="form-control" id="ba-account-number" name="ba-account-number" value="{{data.ba-account-number}}" maxlength="8">
							</div>

						  <fieldset>
						    <legend class="form-label-bold">Your sort code</legend>

						    <div class="form-date form-group">
						      <div class="form-group form-group-day">
						        <label for="ba-sort1"></label>
						        <input class="form-control" id="ba-sort1" maxlength="2" name="ba-sort1" value="{{data.ba-sort1}}" type="text" />
						      </div>

						      <div class="form-group form-group-month">
						        <label for="ba-sort2"></label>
						        <input class="form-control" id="ba-sort2" maxlength="2"  name="ba-sort2" value="{{data.ba-sort1}}" type="text" />
						      </div>

									<div class="form-group form-group-month">
						        <label for="ba-sort3"></label>
						        <input class="form-control" id="ba-sort3" maxlength="2"  name="ba-sort3" value="{{data.ba-sort3}}" type="text" />
						      </div>
						    </div>
						  </fieldset>

							<div class="form-group">
								<button type="submit" class="button">Confirm details</button>
							</div>
						</div>

						<div class="js-hidden" id="building-soc-details">
							<div class="form-group">
								<label class="form-label-bold label-no-hint" for="bs-account-holder">Your name</label>
								<input type="text" class="form-control" id="bs-account-holder" name="bs-account-holder" value="{{data.bs-account-holder}}">
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="bs-account-number">
									Your account number
								</label>
								<input type="text" class="form-control" id="bs-account-number" name="bs-account-number" value="{{data.bs-account-number}}" maxlength="8">
							</div>

							<fieldset>
						    <legend class="form-label-bold">Your sort code</legend>

						    <div class="form-date form-group">
						      <div class="form-group form-group-day">
						        <label for="bs-sort1"></label>
						        <input class="form-control" id="bs-sort1" maxlength="2" name="bs-sort1" value="{{data.bs-sort1}}" type="text" />
						      </div>

						      <div class="form-group form-group-month">
						        <label for="bs-sort2"></label>
						        <input class="form-control" id="bs-sort2" maxlength="2"  name="bs-sort2" value="{{data.bs-sort2}}" type="text" />
						      </div>

									<div class="form-group form-group-month">
						        <label for="bs-sort3"></label>
						        <input class="form-control" id="bs-sort3" maxlength="2"  name="bs-sort3" value="{{data.bs-sort3}}" type="text" />
						      </div>
						    </div>
						  </fieldset>

							<div class="form-group">
								<label class="form-label-bold" for="bs-society-roll">
									Your building society roll or reference number
									<span class="form-hint">If your building society uses a roll or reference number, you will find it on your passbook</span>
								</label>
								<input type="text" class="form-control" id="bs-society-roll" name="bs-society-roll" value="{{data.bs-society-roll}}">
							</div>

							<div class="form-group">
								<button type="submit" class="button">Confirm details</button>
							</div>
						</div>
					</form>
				</div>

				<div class="column-third" style="padding-top: 120px;">
					<h3 class="heading-small">Safe and secure</h3>
					<p>We use secure transmission to protect your personal information.</p>
					<p><img src="/public/images/ssl-cert.jpg" width="100"/></p>
				</div>
			</div>
		</main>
	{% endblock %}
{{/layout}}
