{% extends 'layout.html' %}
	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{{$content}}
		<main id="content" role="main" class="group">
			<div class="phase-banner">
	    	<p>
	      		<strong class="phase-tag">ALPHA</strong>
	      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	    	</p>
	  	</div>

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">There’s been a problem, you’ll need to phone us</h1>

					<p class="lede">
						Some of your details didn’t match our records, or you may have made a
						mistake entering them. To get your State Pension you’ll need to phone us.
					</p>

					<ul class="list list-bullet">
						<li>Telephone: 0800 731 7898</li>
						<li>Textphone: 0800 731 7339</li>
						<li>Monday to Friday, 8am to 6pm</li>
					</ul>

					<p>
						You’ll need the letter with your invite code and be able to confirm some
						personal details.
					</p>
				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
