{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			<div class="phase-banner">
				<p>
					<strong class="phase-tag">ALPHA</strong>
					<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
				</p>
			</div>

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">We may need to get in touch</h1>

					<form>
						<fieldset>
							<div class="form-group">
								<legend class="form-label form-group-compound" for="telephone">
									<p class="text">We may contact you to get further information. This is to make sure you get all of the pension you're entitled to.</p>
								</legend>
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="phone_number">
									Telephone
								</label>

								<div class="form-group">
									<input type="text" class="form-control" id="phone_number" name="reference" /><br/>
								</div>
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="email_address">
									Email (optional)
								</label>

								<div class="form-group">
									<input type="text" class="form-control" id="reference" name="email_address" /><br/>
								</div>
							</div>
						</fieldset>
					</form>

					<a href="bank-details" class="button" value="Submit">Continue</a>
				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
