{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}

<!-- #page-container -->
<main id="content" role="main">
	{% include 'includes/parts/phase-banner.html' %}

	<form method="post" action="secure">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">You need to contact us</h1>

				<p>To get your State Pension you need to call us so that we can confirm
					your current address. </p>

					<p>
						You will need your National Insurance number.
					</p>

					<h2 class="heading-small">
						England, Scotland and Wales
					</h2>

					<p>
						Telephone: 0800 731 7898 </br>
						Textphone: 0800 731 7339 </br>
						Monday to Friday, 8am to 6pm </br>
						Closed public holidays
					</p>

					<h3 class="heading-small">
	          Northern Ireland
	        </h3>

	        <p>
	          Telephone: 0808 100 2658 </br>
	          Textphone: 0808 100 2198 </br>
	          Monday to Friday, 9am to 5pm </br>
	          Closed public holidays
	        </p>


					</div>
				</form>
			</main>
			{% endblock %}

			{% block pageScripts %}
			{% include 'includes/scripts/ninoFocus.html' %}
			{% include 'includes/scripts/dobFocus.html' %}
			{% include 'mvp/scripts/clear_fields.html' %}
			{% endblock %}
