{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">If you don't want to use GOV.UK Verify</h1>

			<p class="lede">
			You can get your State Pension by calling the freephone number.
			</p>

			<p>You’ll need your National Insurance number and be able to confirm some personal details.</p>

<h2 class="heading-small">England, Scotland and Wales</h2>

<span>Telephone:</span> 0800 731 7898</br>
<span>Textphone:</span> 0800 731 7339
<p>
	Monday to Friday, 8am to 6pm<br/>
	Closed public holidays
</p>

<h3 class="heading-small">Northern Ireland</h3>

<span>Telephone:</span> 0808 100 2658</br>
<span>Textphone:</span> 0808 100 2198
<p> Monday to Friday, 9am to 5pm<br/>
	Closed public holidays
</p>


			</div>
			<div class="column-one-third">
			</div>
		</div>
	</main><!-- / #page-container -->
	{% endblock %}
