{% extends 'layout.html' %}

{% block pageTitle %}
	State Pension Activation
{% endblock %}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
		<div class="column-two-thirds">
		<h1 class="heading-xlarge">Declaration</h1>
		<p>By providing this information, you agree:</p>
		<ul class="list-bullet">
			<li>the information you've given is complete and correct</li>
			<li>you'll promptly report changes to your circumstances by phoning 0845 60 60 265 or by writing to State Pension Service 15, Post Handling Site B, Wolverhampton, WV99 1AS</li>
		</ul>
		<p>You may be prosecuted if you give wrong or incomplete information, or you don't report changes. Your State Pension can be reduced or stopped.</p>
		<a href="work" class="button" value="Submit">I agree - continue</a><br/>
	</div>


    </div>
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
