{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->

<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
        <div class="column-two-thirds">
			<h1 class="heading-xlarge">Get your State Pension</h1>
		    <p>You can get your State Pension if you're within 4 months and 4 days of <a href="https://www.gov.uk/calculate-state-pension/y/age">State Pension age.</a></p>
		    <p>You don't have to do anything if you want to <a href="https://www.gov.uk/deferring-state-pension/what-you-may-get">delay getting your State Pension</a>.</p>
		    <p>To get your State Pension you will need your:</p>
		    <ul class="list-bullet">
			    <li>unique reference number (on your Invitation to Get State Pension letter)</li>
			    <li>surname</li>
			    <li>date of birth</li>
			    <li>bank account / building society account details</li>
		    </ul>

			<div class="form-group" class="get-started" id="get-started">
		    	<a href="start_smart" class="button button-get-started" role="button">Start now</a>
		    </div>
    </div>
    
</main>

<!-- / #page-container -->

{{/content}}

{{/layout}}
