{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<br/>
			<h1 class="heading-xlarge">Your application has already been received</h1>

			<p>According to our records, you’ve already applied to get your State Pension.

				</p>
				<p>You do not need to do anything. Your claim is currently being processed and you will either receive details
				about your pension or we will contact you for further information.</p>


				</p>
			</p>

		</div>


	</div>

</main><!-- / #page-container -->
{% endblock %}
