{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<br/>
			<h1 class="heading-xlarge">Your application has already been received</h1>

			<p>According to our records, you’ve already applied to get your State Pension.
				Your claim is currently being processed and you will either receive details
				about your pension or we will contact you for further information.
				You do not need to do anything.</p>

				<h2 class="heading-medium">If your circumstances have changed</h2>

				<p>You should get in contact if you need to make a change to the information you provided.</p>

				<p>
					<h6 class="bold">X</h6>
					<h7 class="bold">Telephone:</h7>
					0800 731 0469 </br>
					<h8 class="bold">Textphone:</h8>
					0800 731 0464
				</ul>
				<p class="compound">Monday to Friday, 8am to 6pm </br>
					Closed public holidays
				</p>

				<p>
					<h6 class="bold">X</h6>
					<h7 class="bold">Telephone:</h7>
					0800 731 0469 </br>
					<h8 class="bold">Textphone:</h8>
					0800 731 0464
				</ul>
				<p class="compound">Monday to Friday, 8am to 6pm </br>
					Closed public holidays
				</p>
			</p>

		</div>


	</div>

</main><!-- / #page-container -->
{% endblock %}
