<script>
  $(document).ready( function() {
    var countries = [
      { "title": "Afghanistan", "value": "afghanistan", "tokens": "afghanistan" },
      { "title": "Albania", "value": "albania", "tokens": "albania" },
      { "title": "Algeria", "value": "algeria", "tokens": "algeria" },
      { "title": "American Samoa", "value": "american samoa", "tokens": "american samoa" },
      { "title": "Andorra", "value": "andorra", "tokens": "andorra" },
      { "title": "Angola", "value": "angola", "tokens": "angola" },
      { "title": "Anguilla", "value": "anguilla", "tokens": "anguilla" },
      { "title": "Antigua and Barbuda", "value": "antigua and barbuda", "tokens": "antigua and barbuda" },
      { "title": "Argentina", "value": "argentina", "tokens": "argentina, argentine nation, argentine confederation, united provinces of the rio de la plata" },
      { "title": "Armenia", "value": "armenia", "tokens": "armenia, hayastan" },
      { "title": "Aruba", "value": "aruba", "tokens": "aruba" },
      { "title": "Australia", "value": "australia", "tokens": "commonwealth of australia" },
      { "title": "Austria", "value": "austria", "tokens": "austria" },
      { "title": "Azerbaijan", "value": "azerbaijan", "tokens": "azerbaijan" },
      { "title": "Bahamas", "value": "bahamas", "tokens": "bahamas" },
      { "title": "Bahrain", "value": "bahrain", "tokens": "bahrain" },
      { "title": "Bangladesh", "value": "bangladesh", "tokens": "bangladesh, bengal" },
      { "title": "Barbados", "value": "barbados", "tokens": "barbados" },
      { "title": "Belarus", "value": "belarus", "tokens": "belarus, byelorussia" },
      { "title": "Belgium", "value": "belgium", "tokens": "belgium" },
      { "title": "Belize", "value": "belize", "tokens": "belize, british honduras" },
      { "title": "Benin", "value": "benin", "tokens": "benin, dahomey" },
      { "title": "Bermuda", "value": "bermuda", "tokens": "bermuda" },
      { "title": "Bhutan", "value": "bhutan", "tokens": "bhutan" },
      { "title": "Bolivia", "value": "bolivia", "tokens": "bolivia" },
      { "title": "Bonaire / St Eustatius / Saba", "value": "bonaire/st eustatius/saba", "tokens": "bonaire/st eustatius/saba" },
      { "title": "Bosnia and Herzegovina", "value": "bosnia and herzegovina", "tokens": "bosnia and herzegovina" },
      { "title": "Botswana", "value": "botswana", "tokens": "botswana, bechuanaland" },
      { "title": "Brazil", "value": "brazil", "tokens": "brazil, brasil" },
      { "title": "British indian ocean territory", "value": "british indian ocean territory", "tokens": "british indian ocean territory" },
      { "title": "British virgin islands", "value": "british virgin islands", "tokens": "british virgin islands" },
      { "title": "Brunei", "value": "brunei", "tokens": "brunei" },
      { "title": "Bulgaria", "value": "bulgaria", "tokens": "bulgaria" },
      { "title": "Burkina", "value": "burkina faso", "tokens": "burkina faso, upper volta" },
      { "title": "Burma", "value": "burma", "tokens": "burma" },
      { "title": "Burundi", "value": "burundi", "tokens": "burundi" },
      { "title": "Cambodia", "value": "cambodia", "tokens": "cambodia, khmer republic, democratic kampuchea" },
      { "title": "Cameroon", "value": "cameroon", "tokens": "cameroon" },
      { "title": "Canada", "value": "canada", "tokens": "canada" },
      { "title": "Cape verde", "value": "cape verde", "tokens": "cape verde" },
      { "title": "Cayman islands", "value": "cayman islands", "tokens": "cayman islands" },
      { "title": "Central African Republic", "value": "central african republic", "tokens": "central african republic" },
      { "title": "Chad", "value": "chad", "tokens": "chad" },
      { "title": "Chile", "value": "chile", "tokens": "chile" },
      { "title": "China", "value": "china", "tokens": "china" },
      { "title": "Colombia", "value": "colombia", "tokens": "colombia" },
      { "title": "Comoros", "value": "comoros", "tokens": "comoros" },
      { "title": "Congo", "value": "congo", "tokens": "congo" },
      { "title": "Costa rica", "value": "costa rica", "tokens": "costa rica" },
      { "title": "Cote d'ivoire", "value": "cote d’ivoire", "tokens": "cote d’ivoire, the ivory coast" },
      { "title": "Croatia", "value": "croatia", "tokens": "croatia, hrvatska" },
      { "title": "Cuba", "value": "cuba", "tokens": "cuba" },
      { "title": "Curaçao", "value": "curaçao", "tokens": "curaçao, curacao" },
      { "title": "Cyprus", "value": "cyprus", "tokens": "cyprus" },
      { "title": "Czech republic", "value": "czech republic", "tokens": "czech republic" },
      { "title": "Democratic republic of Congo", "value": "democratic republic of congo", "tokens": "democratic republic of congo, zaire" },
      { "title": "Denmark", "value": "denmark", "tokens": "denmark" },
      { "title": "Djibouti", "value": "djibouti", "tokens": "djibouti" },
      { "title": "Dominica", "value": "dominica", "tokens": "dominica" },
      { "title": "Dominican republic", "value": "dominican republic", "tokens": "dominican republic" },
      { "title": "Ecuador", "value": "ecuador", "tokens": "ecuador" },
      { "title": "Egypt", "value": "egypt", "tokens": "egypt" },
      { "title": "El salvador", "value": "el salvador", "tokens": "el salvador" },
      { "title": "Equatorial guinea", "value": "equatorial guinea", "tokens": "equatorial guinea" },
      { "title": "Eritrea", "value": "eritrea", "tokens": "eritrea" },
      { "title": "Estonia", "value": "estonia", "tokens": "estonia" },
      { "title": "Ethiopia", "value": "ethiopia", "tokens": "ethiopia, abyssinia" },
      { "title": "Falkland islands", "value": "falkland islands", "tokens": "falkland islands" },
      { "title": "Fiji", "value": "fiji", "tokens": "fiji" },
      { "title": "Finland", "value": "finland", "tokens": "finland" },
      { "title": "France", "value": "france", "tokens": "france" },
      { "title": "French guiana", "value": "french guiana", "tokens": "french guiana" },
      { "title": "French polynesia", "value": "french polynesia", "tokens": "french polynesia" },
      { "title": "Gabon", "value": "gabon", "tokens": "gabon" },
      { "title": "Gambia", "value": "gambia", "tokens": "gambia" },
      { "title": "Georgia", "value": "georgia", "tokens": "georgia" },
      { "title": "Germany", "value": "germany", "tokens": "germany" },
      { "title": "Ghana", "value": "ghana", "tokens": "ghana, gold coast" },
      { "title": "Gibraltar", "value": "gibraltar", "tokens": "gibraltar" },
      { "title": "Greece", "value": "greece", "tokens": "greece, hellas" },
      { "title": "Grenada", "value": "grenada", "tokens": "grenada" },
      { "title": "Guadeloupe", "value": "guadeloupe", "tokens": "guadeloupe" },
      { "title": "Guatemala", "value": "guatemala", "tokens": "guatemala" },
      { "title": "Guernsey", "value": "guernsey", "tokens": "guernsey" },
      { "title": "Guinea", "value": "guinea", "tokens": "guinea" },
      { "title": "Guinea-bissau", "value": "guinea-bissau", "tokens": "guinea-bissau" },
      { "title": "Guyana", "value": "guyana", "tokens": "guyana" },
      { "title": "Haiti", "value": "haiti", "tokens": "haiti" },
      { "title": "Holy see", "value": "holy see", "tokens": "holy see" },
      { "title": "Honduras", "value": "honduras", "tokens": "honduras" },
      { "title": "Hong Kong", "value": "hong kong", "tokens": "hong kong" },
      { "title": "Hungary", "value": "hungary", "tokens": "hungary" },
      { "title": "Iceland", "value": "iceland", "tokens": "iceland" },
      { "title": "India", "value": "india", "tokens": "india" },
      { "title": "Indonesia", "value": "indonesia", "tokens": "indonesia" },
      { "title": "Iran", "value": "iran", "tokens": "iran" },
      { "title": "Iraq", "value": "iraq", "tokens": "iraq, mesopotamia" },
      { "title": "Ireland", "value": "ireland", "tokens": "ireland" },
      { "title": "Isle of man", "value": "isle of man", "tokens": "isle of man" },
      { "title": "Isreal", "value": "israel", "tokens": "israel" },
      { "title": "Italy", "value": "italy", "tokens": "italy" },
      { "title": "Jamaica", "value": "jamaica", "tokens": "jamaica" },
      { "title": "Japan", "value": "japan", "tokens": "japan" },
      { "title": "Jersey", "value": "jersey", "tokens": "jersey" },
      { "title": "Jordan", "value": "jordan", "tokens": "jordan" },
      { "title": "Kazakhstan", "value": "kazakhstan", "tokens": "kazakhstan" },
      { "title": "Kenya", "value": "kenya", "tokens": "kenya" },
      { "title": "Kiribati", "value": "kiribati", "tokens": "kiribati" },
      { "title": "Kosovo", "value": "kosovo", "tokens": "kosovo" },
      { "title": "Kuwait", "value": "kuwait", "tokens": "kuwait" },
      { "title": "Kyrgyzstan", "value": "kyrgyzstan", "tokens": "kyrgyzstan" },
      { "title": "Laos", "value": "laos", "tokens": "laos" },
      { "title": "Latvia", "value": "latvia", "tokens": "latvia" },
      { "title": "Lebanon", "value": "lebanon", "tokens": "lebanon" },
      { "title": "Lesotho", "value": "lesotho", "tokens": "lesotho, basutoland" },
      { "title": "Liberia", "value": "liberia", "tokens": "liberia" },
      { "title": "Libya", "value": "libya", "tokens": "libya" },
      { "title": "Liechtenstein", "value": "liechtenstein", "tokens": "liechtenstein" },
      { "title": "Lithuania", "value": "lithuania", "tokens": "lithuania" },
      { "title": "Luxembourg", "value": "luxembourg", "tokens": "luxembourg" },
      { "title": "Macao", "value": "macao", "tokens": "macao" },
      { "title": "Macedonia", "value": "macedonia", "tokens": "macedonia" },
      { "title": "Madagascar", "value": "madagascar", "tokens": "madagascar" },
      { "title": "Malawi", "value": "malawi", "tokens": "malawi, nyasaland" },
      { "title": "Malaysia", "value": "malaysia", "tokens": "malaysia, sabah and sarawak" },
      { "title": "Maldives", "value": "maldives", "tokens": "maldives" },
      { "title": "Mali", "value": "mali", "tokens": "mali" },
      { "title": "Malta", "value": "malta", "tokens": "malta" },
      { "title": "Marshall Islands", "value": "marshall islands", "tokens": "marshall islands" },
      { "title": "Martinique", "value": "martinique", "tokens": "martinique" },
      { "title": "Mauritania", "value": "mauritania", "tokens": "mauritania" },
      { "title": "Mauritius", "value": "mauritius", "tokens": "mauritius" },
      { "title": "Mayotte", "value": "mayotte", "tokens": "mayotte" },
      { "title": "Mexico", "value": "mexico", "tokens": "mexico" },
      { "title": "Micronesia", "value": "micronesia", "tokens": "micronesia" },
      { "title": "Moldova", "value": "moldova", "tokens": "moldova" },
      { "title": "Monaco", "value": "monaco", "tokens": "monaco" },
      { "title": "Mongolia", "value": "mongolia", "tokens": "mongolia" },
      { "title": "Montenegro", "value": "montenegro", "tokens": "montenegro" },
      { "title": "Montserrat", "value": "montserrat", "tokens": "montserrat" },
      { "title": "Morocco", "value": "morocco", "tokens": "morocco" },
      { "title": "Mozambique", "value": "mozambique", "tokens": "mozambique" },
      { "title": "Namibia", "value": "namibia", "tokens": "namibia" },
      { "title": "Nauru", "value": "nauru", "tokens": "nauru" },
      { "title": "Nepal", "value": "nepal", "tokens": "nepal" },
      { "title": "Netherlands", "value": "netherlands", "tokens": "netherlands, the netherlands, holland" },
      { "title": "New caledonia", "value": "new caledonia", "tokens": "new caledonia" },
      { "title": "New Zealand", "value": "new zealand", "tokens": "new zealand" },
      { "title": "Nicaragua", "value": "nicaragua", "tokens": "nicaragua" },
      { "title": "Niger", "value": "niger", "tokens": "niger" },
      { "title": "Nigeria", "value": "nigeria", "tokens": "nigeria" },
      { "title": "North Korea", "value": "north korea", "tokens": "north korea" },
      { "title": "Norway", "value": "norway", "tokens": "norway" },
      { "title": "Oman", "value": "oman", "tokens": "oman" },
      { "title": "Pakistan", "value": "pakistan", "tokens": "pakistan" },
      { "title": "Palau", "value": "palau", "tokens": "palau" },
      { "title": "Panama", "value": "panama", "tokens": "panama" },
      { "title": "Papua New Guinea", "value": "papua new guinea", "tokens": "papua new guinea" },
      { "title": "Paraguay", "value": "paraguay", "tokens": "paraguay" },
      { "title": "Peru", "value": "peru", "tokens": "peru" },
      { "title": "Philippines", "value": "philippines", "tokens": "philippines" },
      { "title": "Pitcairn Island", "value": "pitcairn island", "tokens": "pitcairn island" },
      { "title": "Poland", "value": "poland", "tokens": "poland" },
      { "title": "Portugal", "value": "portugal", "tokens": "portugal" },
      { "title": "Qatar", "value": "qatar", "tokens": "qatar" },
      { "title": "Réunion", "value": "réunion", "tokens": "réunion, reunion" },
      { "title": "Romania", "value": "romania", "tokens": "romania" },
      { "title": "Russia", "value": "russia", "tokens": "russia, ussr" },
      { "title": "Rwanda", "value": "rwanda", "tokens": "rwanda" },
      { "title": "Samoa", "value": "samoa", "tokens": "samoa" },
      { "title": "San marino", "value": "san marino", "tokens": "san marino" },
      { "title": "São tomé and principe", "value": "são tomé and principe", "tokens": "são tomé and principe, sao tomé and principe" },
      { "title": "Saudi Arabia", "value": "saudi arabia", "tokens": "saudi arabia" },
      { "title": "Senegal", "value": "senegal", "tokens": "senegal" },
      { "title": "Serbia", "value": "serbia", "tokens": "serbia" },
      { "title": "Seychelles", "value": "seychelles", "tokens": "seychelles" },
      { "title": "Sierra Leone", "value": "sierra leone", "tokens": "sierra leone" },
      { "title": "Singapore", "value": "singapore", "tokens": "singapore" },
      { "title": "Slovakia", "value": "slovakia", "tokens": "slovakia" },
      { "title": "Slovenia", "value": "slovenia", "tokens": "slovenia" },
      { "title": "Solomon Islands", "value": "solomon islands", "tokens": "solomon islands" },
      { "title": "Somalia", "value": "somalia", "tokens": "somalia" },
      { "title": "South Africa", "value": "south africa", "tokens": "south africa" },
      { "title": "South Georgia", "value": "south georgia and the south sandwich islands", "tokens": "south georgia and the south sandwich islands" },
      { "title": "South Korea", "value": "south korea", "tokens": "south korea" },
      { "title": "South Sudan", "value": "south sudan", "tokens": "south sudan" },
      { "title": "Spain", "value": "spain", "tokens": "spain" },
      { "title": "Sri Lanka", "value": "sri lanka", "tokens": "sri lanka, ceylon" },
      { "title": "St Helena", "value": "st helena, ascension and tristan da cunha", "tokens": "st helena, ascension and tristan da cunha" },
      { "title": "St Kitts and Nevis", "value": "st kitts and nevis", "tokens": "st kitts and nevis" },
      { "title": "St Lucia", "value": "st lucia", "tokens": "st lucia" },
      { "title": "St Maarten", "value": "st maarten", "tokens": "st maarten" },
      { "title": "St Pierre and Miquelon", "value": "st pierre & miquelon", "tokens": "st pierre and miquelon, st pierre and miquelon" },
      { "title": "St Vincent and the grenadines", "value": "st vincent and the grenadines", "tokens": "st vincent and the grenadines" },
      { "title": "Sudan", "value": "sudan", "tokens": "sudan" },
      { "title": "Suriname", "value": "suriname", "tokens": "suriname, dutch guiana" },
      { "title": "Swaziland", "value": "swaziland", "tokens": "swaziland" },
      { "title": "Sweden", "value": "sweden", "tokens": "sweden" },
      { "title": "Switzerland", "value": "switzerland", "tokens": "switzerland" },
      { "title": "Syria", "value": "syria", "tokens": "syria" },
      { "title": "Taiwan", "value": "taiwan", "tokens": "taiwan, formosa" },
      { "title": "Tajikistan", "value": "tajikistan", "tokens": "tajikistan" },
      { "title": "Tanzania", "value": "tanzania", "tokens": "tanzania" },
      { "title": "Thailand", "value": "thailand", "tokens": "thailand" },
      { "title": "The occupied Palestinian Territories", "value": "the occupied palestinian territories", "tokens": "the occupied palestinian territories" },
      { "title": "Timor Leste", "value": "timor leste", "tokens": "timor leste" },
      { "title": "Togo", "value": "togo", "tokens": "togo" },
      { "title": "Tonga", "value": "tonga", "tokens": "tonga" },
      { "title": "Trinidad and Tobago", "value": "trinidad and tobago", "tokens": "trinidad and tobago" },
      { "title": "Tunisia", "value": "tunisia", "tokens": "tunisia" },
      { "title": "Turkey", "value": "turkey", "tokens": "turkey, ottoman empire" },
      { "title": "Turkmenistan", "value": "turkmenistan", "tokens": "turkmenistan" },
      { "title": "Turks and Caicos Islands", "value": "turks and caicos islands", "tokens": "turks and caicos islands" },
      { "title": "Tuvalu", "value": "tuvalu", "tokens": "tuvalu" },
      { "title": "Uganda", "value": "uganda", "tokens": "uganda" },
      { "title": "Ukrain", "value": "ukraine", "tokens": "ukraine, the ukraine" },
      { "title": "United Arab Emirates", "value": "united arab emirates", "tokens": "united arab emirates" },
      { "title": "Uruguay", "value": "uruguay", "tokens": "uruguay" },
      { "title": "United States of America", "value": "united states of america", "tokens": "united states of america, usa, u.s.a" },
      { "title": "Uzbekistan", "value": "uzbekistan", "tokens": "uzbekistan" },
      { "title": "Vanuatu", "value": "vanuatu", "tokens": "vanuatu" },
      { "title": "Venezuela", "value": "venezuela", "tokens": "venezuela" },
      { "title": "Vietnam", "value": "vietnam", "tokens": "vietnam" },
      { "title": "Wallis and Futuna", "value": "wallis and futuna", "tokens": "wallis and futuna" },
      { "title": "Western Sahara", "value": "western sahara", "tokens": "western sahara" },
      { "title": "Yemen", "value": "yemen", "tokens": "yemen" },
      { "title": "Zambia", "value": "zambia", "tokens": "zambia, rhodesia" },
      { "title": "Zimbabwe", "value": "zimbabwe", "tokens": "zimbabwe, rhodesia" }
    ];

    $('#countries').submit(function(e) {
      var matched = 0;

      $('input[type="text"]').each(function() {
        var searchTerm = $(this).val().toLowerCase();

        for ( var i = 0; i < countries.length; i++ ) {
          if (countries[i].value === searchTerm) {
            matched++;
            break;
          }
        }
      });

      if ( matched != $('input[type="text"]').length ) {
        e.preventDefault();
      }
    });


    $(document).on('focus', 'input[type="text"]', function() {
      var activeField = $(document.activeElement);

      $(document).on('click', function(e) {
        if ( /(country-link-)([0-9]*)/.test(e.target.id) ) {
          $('#country-type-ahead input').last().val($('#' + e.target.id).html());
        }
        $('#country-list').css('display', 'none');
      });

      activeField.on('blur', function() {
        if ( $(this).val().length >= 4 ) {
          $(this).val( $('.country-link').first().html() );
          $('#country-list').css('display', 'none');
        }
      });
    });

    $('#add-another-country').on('click', function(e) {
      e.preventDefault();
      var last_input = $('#country-type-ahead input').last().attr('id'),
          num = last_input.substr(last_input.length - 1);
          num = parseInt(num) + 1;

      $('#country-list').before('<div class="form-group">' +
                        '<label class="form-label" for="country-name-' + num + '">Country name <span></span></label>' +
                        '<input class="form-control" id="country-name-' + num + '" name="country-name-' + num + '"type="text" autocomplete="off">' +
                      '</div>');

      remove_links();

      $(this).blur();
    });

    $('#country-type-ahead').delegate('input[type="text"]', 'keyup', function() {
      $('#country-list').html('');
      $('#country-list').css({'top': $(this).offset().top + $(this).outerHeight()-3, 'left': $(this).offset().left-1, 'display': 'block'});

      if ( /(country-name-)([0-9])/.test($(this).attr('id'))  ) {
        var counter = 0;

        for ( var i = 0; i < countries.length; i++ ) {
          var countryList = countries[i].tokens.toLowerCase(),
              input = $(this).val().toLowerCase();

          if ( countryList.indexOf(input) > -1 ) {
            $('#country-list').css('border', '3px solid #ffbf47');
            counter ++;
            if ( counter <= 5 ) {
              $('#country-list').append('<span id="country-link-' + counter + '" class="country-link">' + countries[i].title + '</span>');
            }
          }
        }
      }

      // Clear html when nothing in input
      if ( $(this).val().length === 0 ) {
        $('#country-list').html('');
        $('#country-list').css('display', 'none');
      }

      // Clear border when no match
      if ( $('#country-list').html() === '' ) {
        $('#country-list').css('display', 'none');
      }
    });

    function remove_links() {
      var last_input = $('#country-type-ahead input').last().attr('id'),
          num = last_input.substr(last_input.length - 1);
          num = parseInt(num) + 1;

      $('.form-label').each(function() {
        if ( num > 2 ) {
          $(this).find('span').html('<a id="remove-link-' + num + '" href="' + Math.random() + '">Remove</a>');
        } else {
          $(this).find('span').html('');
        }
      });
    }

    $(document).on('click', 'a', function(e) {
      if ( /(remove-link-)([0-9])/.test($(this).attr('id')) ) {
        e.preventDefault();
        $(this).parent().parent().parent().remove();
        remove_links();
        $(this).blur();
      }
    });
  });
</script>
