{{<layout}}

	{{$pageTitle}}
		State Pension Activation
	{{/pageTitle}}

	{{$content}}
		<!-- #page-container -->
		<main id="content" role="main" class="group">
			<div class="phase-banner">
				<p>
					<strong class="phase-tag">ALPHA</strong>
					<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
				</p>
			</div>

			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Get your State Pension</h1>

					<p>Use this service when you're ready to get your state pension. If you're not ready yet, <a href="https://www.gov.uk/deferring-state-pension/what-you-may-get">learn about your options</a>.</p>


          <p>If you haven’t received the letter, you’ll need to <a href="#">request an invite code</a>.</p>
          <p>You don't have to do anything if you want to <a href="https://www.gov.uk/deferring-state-pension/what-you-may-get">delay getting your State Pension</a>.</p>


					<h3 class="heading-small">You will need your:</h3>

					<ul class="list-bullet">
						<li>Invite code shown of the front of this letter</li>
						<li>National Insurance number</li>
						<li>As we pay your State Pension into a bank account or building
            society, details of the account you wish to use</li>
					</ul>

					<p>You'll need to give additional details if you've lived or worked outside of the UK. You'll also need to give your marital status and details of any partners.</p>

					<div class="form-group" class="get-started" id="get-started" style="margin-bottom: 70px;">
						<a href="secure" class="button button-get-started" role="button">Start now</a>
					</div>

					<section>
						<h2 class="heading-medium compound" id="helpcontent">Other ways to get your State Pension</h2>

						<h3 class="heading-small">By phone</h3>
						<p class="compound">
							Telephone: 0800 731 7898<br/>
							Textphone: 0800 731 7339
						</p>

						<p class="compound">Monday to Friday, 8am to 6pm</p>
						<p class="compound">How to get your State Pension if you are from <a href="http://www.nidirect.gov.uk/state-pension-online" rel="external">Northern Ireland</a>.</p>
					</section>
				</div>
			</div>
		</main><!-- / #page-container -->
	{{/content}}
{{/layout}}
