{% extends 'layout.html' %}

	{% block pageTitle %}
		State Pension Activation
	{% endblock %}

	{% block content %}

		<!-- #page-container -->
		<main id="content" role="main">
			{% include 'includes/parts/phase-banner.html' %}

			<form method="post" action="http://govuk-verify-loa1.herokuapp.com/intro?requestId=get-your-state-pension&userLOA=0">

				<div class="grid-row">
					<div class="column-two-thirds">

						<h1 class="heading-xlarge">
							GOV.UK Verify
						</h1>

				    <p>
							If you are within 4 months or older
							than your State Pension age, <br>
							you can sign in using GOV.UK Verify.<br>
							<br>
							If you have not used GOV.UK Verify before,<br>
							it will take you about 5 minutes to get set up.<br>
							You can access other government services securely <br>
							wherever you see the GOV.UK Verify logo.
						</p>

						<img src="/public/images/verifylogo.png" width="100" alt="verifylogo.png" />
						<strong class="heading-medium">GOV.UK
						</strong>

						<div class="form-group">
							<button class="button" value="Continue" type=“hidden” name=“requestId” value=“get-your-state-pension”>Continue</button> <br>
						</div>
			  	</div>

					<div class="column-one-third">
	          {% include 'includes/parts/help.html' %}
	        </div>
				</div>
			</form>
		</main>
	{% endblock %}

	{% block pageScripts %}
		{% include 'includes/scripts/ninoFocus.html' %}
		{% include 'includes/scripts/dobFocus.html' %}
		{% include 'sprint9/scripts/clear_fields.html' %}
	{% endblock %}
