{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">You need to send proof of your date of birth</h1>

			<p class="heading-medium">
				Send a certified copy of 1 of the following documents:
			</p>

			<p>
				<ul class="list-bullet">
					<li>birth certificate</li>
					<li>certificate of registration of birth</li>
					<li>adoption order</li>
				</ul>
			</p>

			<details>
				<summary><span class="summary">I do not have any of these</span></summary>
				<div class="panel panel-border-narrow">
					<p class="heading-small">You can send a copy of 2 of the following documents:
					</p>
					<p>
						<ul class="list-bullet">
							<li>passport (old or current)</li>
							<li>national identity card</li>
							<li>driving licence</li>
							<li>certificate of citizenship or naturalisation</li>
							<li>medical cards</li>
							<li>school certificates</li>
						</ul>
					</p>
				</div>
			</details>

			<p class="heading-medium">
				Your copy must be dated and signed by one of the following people
				confirming that it is a true copy of the original:
			</p>

			<p>
				<ul class="list-bullet">
					<li>bank official</li>
					<li>doctor or surgeon</li>
					<li>solicitor or barrister</li>
					<li>civil servant</li>
					<li>minister of religion</li>
					<li>chartered accountant</li>
				</ul>
			</p>

			<p class="heading-medium">
				Include your National Insurance number and send the certified copy to:
			</p>

			<p>International Pension Centre<br/>
				The Pension Service 11<br/>
				Mail Handling Site A<br/>
				Wolverhampton<br/>
				WV98 1LW
			</p>

			<div class="notice">
				<i class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small">
					You can continue with your application,
					but it can't be processed until you send proof of your date of birth.
				</strong>
			</div>

</br>

			<a href="declaration" class="button" value="Submit">Continue</a>

		</div>
		<div class="column-one-third">
			{% include 'includes/parts/help.html' %}
		</div>
	</div>
</main><!-- / #page-container -->
{% endblock %}
