{% extends 'layout.html' %}

{% block pageTitle %}
State Pension Activation
{% endblock %}

{% block content %}
<!-- #page-container -->
<main id="content" role="main" class="group">
	{% include 'includes/parts/phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Some of your details have not been recognised</h1>

			<p>
				You have successfully verified your identity with GOV.UK Verify,
				but the Department for Work and Pensions was unable to recognise
				your details.</p>

				<p>
				This may be because:
				</p>

				<ul class="list-bullet">
					<li>you are too young to claim your State Pension</li>
					<li>you reached your State Pension date before 00/00/0000</li>
					<li>the information you have provided does not match our records</li>

				</ul>


</br>
				<p>
					To get your State Pension you need to call us to confirm
					some details. You will need your National Insurance
					number.
				</p>

<p class="heading-small">England, Scotland and Wales</p>
<p><span class="heading-small">Telephone:</span> 0800 731 7898 </br>
<span class="heading-small">Textphone:</span> 0800 731 7339 </br>
 Monday to Friday, 8am to 6pm </br>
	Closed public holidays</p>

<p class="heading-small">Northern Ireland</p>
<p><span class="heading-small">Telephone:</span> 0808 100 2658 </br>
<span class="heading-small">Textphone:</span> 0808 100 2198 </br>
 Monday to Friday, 8am to 6pm </br>
	Closed public holidays</p>

		</div>

	</div>
</main><!-- / #page-container -->
{% endblock %}
