{% extends 'layout.html' %}

{% block pageTitle %} GOV.UK prototyping kit {% endblock %} {% block content %} <main id="content" role="main" class="group">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>

	<h1 class="heading-large">State Pension Activation Prototype</h1>
	<!-- feel free to change this page to suit your needs -->
	<div class="grid-row">
		<div class="column-two-thirds">


			<table>
					<tr>
							<th colspan="2">Account Details</th>
					</tr>
					<tr>
							<th>Valid reference:</th><td>1234567843218765</td>
					</tr>
					<tr>
							<th>Demo Invite code:</th><td>QWX5YCHPNRJV</td>
					<tr>
							<th>Valid National Insurance number:</th><td>AA123456C</td>
					</tr>
			</table>

      <h2 class="heading-medium">Beta View</h2>
			<p>Addtional views for award figure and breakdown on end page.</p>
				<a href="/beta/start" class="button">Start page</a>
			<hr />


			<h2 class="heading-medium">Demo v2</h2>
			<p>This iteration encompasses the user research analysis insights which we've done across the whole of alpha, bringing in a lot of work from our BA colleagues around the questions which are required to be answered in ordered to make a calculation.</p>
      <p>Updated National Insurance number pattern, as well as various content tweaks.</p>
      	<a href="/demo/start" class="button">Start page</a>
			<hr />



      <h2 class="heading-medium">Demo v1</h2>
      <p>First attempt at partial taking National Insurance number, as well as expended journeys for overseas and releationship details.</p>
      <ul class="list-bullet">
          <li>Username: december</li>
          <li>Password: december</li>
      </ul>

        <a href="https://december-week1-spa.herokuapp.com/demo/start" target="_blank" class="button">Start page</a>
			<hr />



			<h2 class="heading-medium">Iteration 3 - v2</h2>
			<p>This iteration encompasses the user research analysis insights which we did with the first version. We're looking to use NI Number as an identifier only / reference only for a user. We've added in validation on form fields.</p>
				<a href="/iteration3-v2/start" class="button">Start page</a>
			<hr />

			<h2 class="heading-medium">Iteration 3 - v1</h2>
			<p>This iteration takes in to account the feedback that we've had from our security colleagues, updating the 'what next' area using information from our user research, adding in a support channel and moving deferrals outside of the service. We've moved
				deferring outside of the service due to the result of the user research.</p>
				<a href="/iteration3-v1/start" class="button">Start Page</a>
			<hr />

			<h2 class="heading-medium">Iteration 2 - v2</h2>
			<p>This iteration encompasses the user research analysis insights which we did with the first version. We're looking to use NI Number as an identifier only / reference only for a user. We've added in validation on form fields.</p>

				<a href="/iteration2-v2/start" class="button">Start page</a>
			<hr />

			<h2 class="heading-medium">Iteration 2 - Alpha Phase</h2>
			<p>This iteration encompasses the whole MVP for Alpha. We've designed this iteration to test the assumption that customers will expect to actively get or defer their state pension as well as the dates they will receive their first few payments.</p>

				<a href="/iteration1-v4/start" class="button">Start Page</a>

			<hr />

			<h2 class="heading-medium">Iteration 1 - v2</h2>
			<p>A slightly different version which includes an element whereby the customer is prompted to wait for the delivery of their pension calculation. We’ve designed version 2 this way to test the assumption that customers will have a high expectation of getting
				their pension calculation online at the time of application and are looking to see their response.</p>

				<a href="/iteration1-v2/start" class="button">Start Page</a>

			<hr />

			<h2 class="heading-medium">Iteration 1</h2>
			<p>We’re testing this low impact approach for the first time. It includes options for offline paper prompt and direct online traffic. We’ve designed it targeting a specific customer group of single customers with a full NI Contribution because this specific
				customer group are the path of least resistance to work through a prototype when we don't have any technical solutions for the other customer groups.</p>
			<a href="/iteration1/start" class="button">Start Page</a>

		</div>


	</div>



	</div>



	</div>


	</main>

	{% endblock %}

	
