{{<layout}}

{{$pageTitle}} SPA - Prototype {{/pageTitle}} {{$content}} <main id="content" role="main" class="group">

	<h1 class="heading-large">State Pension Activation Prototype</h1>
	<!-- feel free to change this page to suit your needs -->
	<div class="grid-row">
		<div class="column-two-thirds">


			<table>
					<tr>
							<th colspan="2">Account Details</th>
					</tr>
					<tr>
							<th>Valid reference:</th><td>1234567843218765</td>
					</tr>
					<tr>
							<th>Demo Invite code:</th><td>QWX5YCHPNRJV</td>
					<tr>
							<th>Valid National Insurance number:</th><td>AA123456C</td>
					</tr>
			</table>

			<h2 class="heading-medium">Invite Letter</h2>
			<p>This is a draft version of a letter we will be using for testing.  Users are sent this in advance of sessions and refer to this when they need to as they would in real life.  We are working with  Gov.uk and DWP to iterate this letter to work with the service.</p>
				<img src="/public/images/icon-file-download.png" style="position: relative; float: left; margin-top: -5px;">&nbsp; <a href="download_fake_letter" target="_new" class="heading-medium">Download</a>
			<hr />

			<h2 class="heading-medium">Sprint 5 March 2016</h2>
			<p>
				This iteration is to further research the overseas journey.
			</p>
			<p>
				<a href="/sprint5/start" class="button">Start page</a>
			</p>

			<hr />

			<details>
		    <summary><span class="summary">Previous User Testing Sessions</span></summary>

		    <div class="panel panel-indent panel-border-narrow">

					<h2 class="heading-medium">Sprint 4 February 2016</h2>
					<p>
						This iteration is based on the findings from the Feb research session.
					</p>
					<p>
						<a href="/sprint4/start" class="button">Start page</a>
					</p>

					<hr />

					<h2 class="heading-medium">Sprint 3 January 2016</h2>
					<p>
						This iteration is based on the findings from the January research session. The settings have been removed and the winning elements have been hard coded in.
					</p>
					<p>
						<a href="/sprint3/start" class="button">Start page</a>
					</p>

					<hr />

					<h2 class="heading-medium">User Testing - 26th January 2016</h2>
					<p>
						This iteration focuses on providing two characters of the National Insurance number for user identification. It also looks at making the payment details more user friendly.
					</p>
					<p>
						<a href="/january/start" class="button">Start page</a>
					</p>

					<a href="/january/settings">Settings</a>

					<hr />

					<h2 class="heading-medium">User Testing - 15th December 2015</h2>
					<p>
						This iteration encompasses the user research analysis insights which
						we've done across the whole of alpha, bringing in a lot of work from
						our BA colleagues around the questions which are required to be
						answered in ordered to make a calculation.
					</p>

					<p>
						<a href="/demo/start" class="button">Start page</a>
					</p>

					<p>
						Each sprint we test and research  a future feature.  <br />
						This sprint we will be looking at a page showing the state pension
						amount. <a href="/demo/calculated-featured">Link</a>
					</p>
		    </div>
		  </details>

			<hr />

			<h2 class="heading-medium">Public Beta</h2>

			<p>
				<a href="/beta/start" class="button">Start page</a>
			</p>

			<hr />

			<h2 class="heading-medium">Overseas Journey Test</h2>
			<p>
				This is an iteration to explore the overseas journey. It is detached from the rest of the prototype for the purpose of testing.
			</p>

			<p>
				<a href="/ovsea-test/have-you-lived-abroad" class="button">Start page</a>
			</p>
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
