{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$bodyEnd}}
  {{>includes/scripts}}
  {{$pageScripts}}{{/pageScripts}}
{{/bodyEnd}}


{{$footerSupportLinks}}
       <ul class="platform-help-links">
         <li><a href="#">Cookies</a></li>
         <li><a href="#">Privacy</a></li>
       </ul>
       <br />
      <ul>
      <li>Made in Newcastle by <a href="https://dwpdigital.blog.gov.uk/">Digital DWP</a></li>
    </ul>
{{/footerSupportLinks}}

{{/govuk_template}}
